<% @page_title = 'Contact Us' %>

<div id="contact_us">
<h1>Contact Us</h1>

<div id="contact_col_one">
    <h3>Have a question about this application?</h3>
    <p>We use an Ask an Expert widget to handle questions.</p>

    <iframe style='border:0' width='100%' src='http://www.extension.org/widget/tracking/7ae729bf767d0b3165ddb2b345491f89533a7b7b' height='400px'></iframe>
  
  
  <h3>Want to know more about eXtension?</h3>
  <p>Visit <a href="http://about.extension.org">About eXtension</a>.  There you'll find links to various eXtension resources where you can learn more about the benefits of eXtension, discover how to get involved with your colleagues already participating,  or get started with the eXtension sites and services.</p>
  <h3>Need a direct contact?</h3>
  <p>See our <a href="http://create.extension.org/node/2124">Contacts for eXtension Services and Support</a></p>
  
</div>

</div>