<div class="row noprint">
        <div class="span3 resource-areas">
          <h3>Resource Areas</h3>
            <h4>Community</h4>
<ul class="unstyled">
    <li><a href="/ag_law">Agricultural and Food Law</a></li>
    <li><a href="https://publish.extension.org/civildialogue/">Civil Dialogue</a></li>
    <li><a href="/community_planning_and_zoning">Community Planning and Zoning</a></li>
    <li><a href="/community_and_regional_food_systems">Community, Local and Regional Food Systems</a></li>
    <li><a href="/cooperatives">Cooperatives</a></li>
    <li><a href="/creating_healthy_communities">Creating Healthy Communities</a></li>
    <li><a href="/diversity">Diversity, Equity and Inclusion</a></li>
    <li><a href="/community_development">Enhancing Rural Community Capacity</a></li>
    <li><a href="/entrepreneurship">Entrepreneurs &amp; Their Communities</a></li>
    <li><a href="/geospatial_technology">Geospatial Technology</a></li>
    <li><a href="/internationalizing_extension">Internationalizing Extension</a></li>
    <li><a href="/network_literacy">Network Literacy</a></li>
    <li><a href="/program_evaluation">Program Evaluation</a></li>
    <li><a href="/volunteer_administration">Volunteer Administration </a></li>
    <li><a href="/womeninag">Women in Agriculture</a></li>
</ul>
            <h4>Disaster Issues</h4>
<ul class="unstyled">
    <li><a href="/disasters">Agricultural Disaster Preparedness and Recovery</a></li>
    <li><a href="/drought_resources">Drought Resources</a></li>
    <li><a href="/floods">Floods</a></li>
    <li><a href="/surviving_wildfire">Wildfire</a></li>
</ul>
        </div>
        <div class="span3 resource-areas">
            <h4>Energy</h4>
<ul class="unstyled">
    <li><a href="/ag_energy">Farm Energy</a></li>
    <li><a href="/home_energy">Home Energy</a></li>
    <li><a href="/wood_energy">Wood Energy</a></li>
</ul>
            <h4>Environment</h4>
<ul class="unstyled">
    <li><a href="/prescribed_fire">Prescribed Fire</a></li>
    <li><a href="/trees_for_energy_conservation">Trees for Energy Conservation</a></li>
</ul>
            <h4>Family</h4>
<ul class="unstyled">
    <li><a href="/childandfamily">Child and Family Learning Network</a></li>
    <li><a href="/child_care">Child Care</a></li>
    <li><a href="/companion_animals">Companion Animals</a></li>
    <li><a href="/drinking_water">Drinking Water and Human Health</a></li>
    <li><a href="/family_caregiving">Family Caregiving</a></li>
    <li><a href="/food_safety">Food Safety</a></li>
    <li><a href="https://militaryfamilies.extension.org">Military Families</a></li>
    <li><a href="/parenting">Parenting</a></li>
    <li><a href="/personal_finance">Personal Finance</a></li>
</ul>
        </div>
        <div class="span3 resource-areas">
            <h4>Farm</h4>
<ul class="unstyled">
    <li><a href="/farm_safety_and_health">Ag Safety and Health</a></li>
    <li><a href="/animal_manure_management">Animal Manure Management</a></li>
    <li><a href="/animal_welfare">Animal Welfare</a></li>
    <li><a href="/apples">Apples</a></li>
    <li><a href="/bee_health">Bee Health</a></li>
    <li><a href="/beef_cattle">Beef Cattle</a></li>
    <li><a href="/blueberries">Blueberries</a></li>
    <li><a href="/climate_forests_woodlands">Climate, Forests and Woodlands</a></li>
    <li><a href="/dairy_cattle">Dairy</a></li>
    <li><a href="/forest_farming">Forest Farming</a></li>
    <li><a href="/freshwater_aquaculture">Freshwater Aquaculture</a></li>
    <li><a href="/goat">Goats</a></li>
    <li><a href="/grapes">Grapes</a></li>
    <li><a href="/horses">Horses</a></li>
    <li><a href="/marine_aquaculture">Marine Aquaculture</a></li>
    <li><a href="/organic_production">Organic Agriculture</a></li>
    <li><a href="/plant_breeding_genomics">Plant Breeding and Genomics</a></li>
    <li><a href="/sheep">Sheep</a></li>
    <li><a href="/poultry">Small and Backyard Flocks</a></li>
    <li><a href="/small_meat_processors">Small Meat Processors</a></li>
    <li><a href="/sustainable_marine_fisheries">Sustainable Marine Fisheries</a></li>
    <li><a href="/wood_products">Wood Products</a></li>
</ul>
        </div>
        <div class="span3 resource-areas">
            <h4>Health and Nutrition</h4>
<ul class="unstyled">
    <li><a href="/low_income_nutrition_education">Community Nutrition Education</a></li>
    <li><a href="/families_food_fitness">Families, Food and Fitness</a></li>
    <li><a href="/healthy_food_choices_in_schools">Healthy Food Choices in Schools</a></li>
</ul>
            <h4>Lawn and Garden</h4>
<ul class="unstyled">
    <li><a href="/mastergardener">Extension Master Gardener</a></li>
    <li><a href="/horticulture">Gardens &amp; Landscapes</a></li>
    <li><a href="/garden_science">The Garden Professors</a></li>
    <li><a href="/landscape_water_conservation">Water Conservation for Lawn and Landscape</a></li>
</ul>
            <h4>Pest Management</h4>
<ul class="unstyled">
    <li><a href="/feral_hogs">Feral Hogs</a></li>
    <li><a href="/fire_ants">Imported Fire Ants</a></li>
    <li><a href="/invasive_species">Invasive Species</a></li>
    <li><a href="/urban_integrated_pest_management">Pest Management In and Around Structures</a></li>
    <li><a href="/wildlife_damage_management">Wildlife Damage Management</a></li>
</ul>
            <h4>Youth</h4>
<ul class="unstyled">
    <li><a href="/youth_agriculture">Ag Zone</a></li>
    <li><a href="/science_for_youth">Science for Youth</a></li>
</ul>
        </div>
      </div>
