<p class="callout"><strong>Still looking for an answer?</strong> <%= link_to 'Try Ask an Expert', @ask_two_point_oh_form %> &raquo;</p>

<!-- Google Search Result Snippet Begins -->
<div id="results_002594610894210374936:hggphannnzi"></div>
<script type="text/javascript">
  var googleSearchIframeName = "results_002594610894210374936:hggphannnzi";
  var googleSearchFormName = "searchbox_002594610894210374936:hggphannnzi";
  var googleSearchFrameWidth = 650;
  var googleSearchFrameborder = 0;
  var googleSearchDomain = "www.google.com";
  var googleSearchPath = "/cse";
</script>
<script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
<!-- Google Search Result Snippet Ends -->

<p class="callout"><strong>Still looking for an answer?</strong> <%= link_to 'Try Ask an Expert', @ask_two_point_oh_form %> &raquo;</p>