<p class="callout"><strong>Still looking for an answer?</strong> <%= link_to 'Try Ask an Expert', @ask_two_point_oh_form %> &raquo;</p>


<script>
  (function() {
    var cx = '002594610894210374936:hggphannnzi';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<div class="row">
  <div class="span9">
<gcse:searchresults-only></gcse:searchresults-only>
</div>
</div>

<p class="callout"><strong>Still looking for an answer?</strong> <%= link_to 'Try Ask an Expert', @ask_two_point_oh_form %> &raquo;</p>