<% @page_type = "article" %>
<div id="extension_articles">
  <h1><%=@page_title_text %></h1>
  <h2><%=@header_description%></h2>
  <%- if @page_class -%>
  <div id="article" class="<%= @article_class %>" >
  <%- else -%>
  <div id="article">
  <%- end -%>	
    <div id="content_css_reset">
      <%= @page.content if @page %>
    </div>
  </div>
</div>