<h3>Application Version</h3>
<p><%= @deploy['version'] %></p>

<h3>Deploy Information</h3>

<table>
    <tr>
        <td>date</td>
        <td><%= @deploy['date'] %></td>
    </tr>
    <tr>
        <td>userid</td>
        <td><%= @deploy['userid'] %> (<%= @deploy['username']%>)</td>
    </tr>
    <tr>
        <td>REV</td>
        <td><%= @deploy['revision'] %></td>
    </tr>
</table>