<%- form_tag({:action=> "comment"}, {:id => "aae_comment"}) do -%>
    <fieldset>
        <p>
            <label for="comment">Your comments: </label>
            <%= text_area_tag("comment", '', :cols => "40", :rows => "7") %>
            <%= hidden_field_tag('squid',@submitted_question.id) %>
            <%= submit_tag 'Submit' %>
        </p>
    </fieldset>
<%- end -%>