<div id="aaemastheadwrapper">
    <div id="aaemasthead" >
    <div id="description">
        <h3>This question is currently up for grabs</h3>
        <p>Yes, this question is assigned to you, but unless you click the "I'm working on this" button, another expert may go ahead and answer it. Please tell us if you are actively working on it. <a class="moreinfo" href="http://about.extension.org/2009/03/19/new-in-ask-an-expert-im-working-on-this/">?</a></p>
    </div>    
    </div>
    <div id="aaebigbutton">
        <p><%= link_to "<strong>I'm working on this</strong><span>(Click and it's yours for 2 hours.)</span>", aae_reserve_question_url(:sq_id => @submitted_question.id), :method => :post %></p>
    </div>
</div>
