<%= render(:partial => "aae/search/answer_search") %>

<div class="aae_module">
    <h3>Answer or Ask For More Info <span class="tip"><a href="#" id="new_trigger">?</a></span></h3>
    <p class="button2">
        <%= link_to 'Reply', answer_question_url(:squid => @submitted_question.id) %>
    </p>
    
    <p class="clear"><%= link_to "Suggested Answering Guidelines", "http://create.extension.org/node/2434", :class => "nodec" %></p>
    
    <div id="noanswer">
        <h3 class="clear">No Answer?</h3>
        <p class="clear">If this question is outside of eXtension's expertise, please <%= link_to 'use this sample text to suggest their local office', answer_question_url(:squid => @submitted_question.id, :sample => SubmittedQuestion::DECLINE_ANSWER, :status_state => SubmittedQuestion::STATUS_NO_ANSWER) %>.</p>
    </div>
</div>

<div id='new_tooltip' style="display:none;" class="tooltip">
	<div id="tooltip_hook">
	    <h2>Question Follow-up in AaE</h2>
	    <ul>
	        <li>The person who submitted the question can post replies to AaE responses. If you need more info about a question, just ask for it.</li>
	        <li>Multiple responses from multiple experts can be sent to one question.</li>
	    </ul>
	</div>
</div>
<script type="text/javascript">
  var my_tooltip = new Tooltip('new_trigger', 'new_tooltip')
</script>


