<h2 class="question"><%= format_text_for_display(@submitted_question.asked_question) %></h2>

<% if (@submitted_question.submitter.id == session[:account_id]) or (@currentuser.email == @submitted_question.submitter_email) %>

    <% if !((response = @submitted_question.current_response) and (response.strip != '')) %>
    <p class="inc_descriptive editpitch">
    <%= link_to_remote 'Edit my question', 
                  :update => "question_area",
                  :url => { :action => "make_question_editable", :squid => @submitted_question.id }  %>.
                  Need to clarify or correct any information? Your question is editable until one of our experts responds. Thanks!
    </p>
    <% end %>

<% end %>

<div id="aae_image_div">
<%= render(:partial => "aae_images") %>
</div>