<div id="aae_images">
  <% response.file_attachments.each do |resp_img| %>
  <div class="image_wrapper">
    <p>    
      <a class="fancybox" href="<%= resp_img.attachment.url %>" title="AaE Image">
      <%= image_tag resp_img.attachment.url(:thumb) %>
      </a>
    <% if (submitted_question.public_user.id == session[:public_user_id]) or (@currentuser.email == submitted_question.submitter_email) %>
    <%= button_to_remote 'Delete Image', :url => { :action => :delete_response_image, :id => resp_img.id, :response_id => response.id  },
        :loading => "Element.show('loading_response_images')",
        :complete    => "Element.hide('loading_response_images')"  %>
    <div id="loading_response_images" style="display:none"><p><img src='/images/widgets/ajax_loader_white.gif' /> Loading... </p></div>
    <% end %>
    </p>
    </div>
  <% end %>
  
  <br class="clearing" />
</div>

<script type="text/javascript">
$j = jQuery.noConflict();
$j(document).ready(function() {
 $j(".fancybox").fancybox({
		'titleShow'		: false
	});
})
</script>