<h1 class="title">Ask an Expert</h1>

<ol id="aae_steps">
  <li><span>Ask a Question</span><em></em></li>
  <li><span>Search for an instant answer</span></li>
  <li><span>If there's no answer, we send it to our experts</span></li>
</ol>

<% form_tag({:action => :question_confirmation}, {:id => 'searchbox_002594610894210374936:hggphannnzi', :class => 'aae', :method => :get}) do  %>
	
	<fieldset>
	  <h3><label for="submitted_question_asked_question">Your Question</label> <a class="tooltip_trigger local aae_help" href="#aae_question_tooltip" rel="#aae_question_tooltip">What kinds of questions can eXtension answer?</a></h3>
	  <p>
	    <%= text_area_tag "q", (@submitted_question.asked_question) ? @submitted_question.asked_question : '', :rows => "3", :id => "submitted_question_asked_question" %> 
	  </p>
	  
	  <p class="image_upload">Optional: You can include an image with your question after the search</p>
	  <p><%= submit_tag "Search for an Answer", :name => "sa", :value => "Search for an Answer", :alt => "Go", :class => "bigbutton orange" %></p>
	</fieldset>
  
  <input type="hidden" name="cx" value="002594610894210374936:hggphannnzi" />
  <input type="hidden" name="cof" value="FORID:11" />
      
<% end %>


<%= javascript_include_tag "google_coop" %>
<!-- Google CSE Search Box Ends -->

<div id="aae_question_tooltip" class="tooltip" >
    <h3>What kinds of questions can eXtension answer?</h3>
    <p>We have expertise in a broad variety of areas. You can see a list of our content areas by clicking the "Resource Areas" link at the top of this page.</p>
</div>

<script type="text/javascript">
  $j(document).ready(function() {
    $j('a.title').cluetip({splitTitle: '|'});
    $j('a.tooltip_trigger.local').cluetip({local:true, cursor: 'pointer',width: 300, showTitle:false});
  })
</script>