<div id="editquestion">
<% form_tag :action => "edit_question", :squid => @submitted_question.id do %>
    <%= text_area_tag("question", @submitted_question.asked_question, :rows => "10", :cols => "60", :id => "text-area") %>
    <p>
        <%= submit_tag "Save changes" %>    
        <%= link_to_remote "Cancel", :url => {:action => :cancel_question_edit, :squid => @submitted_question.id}, :html => {:class => "cancel"} %>
    </p>
<% end %>
</div>

<script type="text/javascript" language="javascript">
  resizeIt = function() {
    var str = $('text-area').value;
    var cols = $('text-area').cols;

    var linecount = 0;
    $A(str.split("\n")).each( function(l) {
      linecount += Math.ceil( l.length / cols ); // take into account long lines
    } )
    $('text-area').rows = linecount + 1;
  };

  Event.observe('text-area', 'keydown', resizeIt ); // you could attach to keyUp or whatever if keydown doesn't work
  resizeIt(); //initial on load
</script>
