<div id="editquestion">
<% form_tag :action => "edit_question", :squid => @submitted_question.id do %>
    <%= text_area_tag("question", @submitted_question.asked_question, :rows => "5") %>
    <p>
        <%= submit_tag "Save changes" %>    
        <%= link_to_remote "Cancel", :url => {:action => :cancel_question_edit, :squid => @submitted_question.id}, :html => {:class => "cancel"} %>
    </p>
<% end %>
</div>