<% @title_tag = "Ask an Expert Question - Sign in"%>

<div id="public_aae">
    <div id="signin">
        <h1>You've reached an Ask an Expert Question page</h1>
        <h2 class="aae_protected_signin">This page is locked to protect the privacy of the person who submitted the question. You can view this question by entering the email address used to submit it.</h2>
        
        <% form_tag(:action => :authorize_public_user, :fingerprint => @submitted_question.question_fingerprint) do %>
            <p>
                <label for="email_address">Email used to submit question:</label>
    	        <%= text_field_tag("email_address")%>
    	        
                <%= submit_tag 'View page', :class => "submit"  %>
            </p>
        <% end %>
        
        <p class="aae_pitch">Have another question? <%= link_to 'Ask one of our Experts', ask_form_url %></p>
        
    </div>
</div>