<h1>Search Results</h1>

<div class="aae_options">
  <p>
    "<%= @question %>"
  </p>
    
  <p>
    <%= link_to 'Edit my Question', {:action => :index, :q => @question}, { :class => "bigbutton blue" } %>
    <%= link_to 'Send to "Ask an Expert"', { :action => :submission_form, :q => @question }, { :class => "bigbutton blue" } %>
  </p>
</div>

<!-- Google Search Result Snippet Begins -->
<div id="results_002594610894210374936:hggphannnzi"></div>
<script type="text/javascript">
  var googleSearchIframeName = "results_002594610894210374936:hggphannnzi";
  var googleSearchFormName = "searchbox_002594610894210374936:hggphannnzi";
  var googleSearchFrameWidth = 650;
  var googleSearchFrameborder = 0;
  var googleSearchDomain = "www.google.com";
  var googleSearchPath = "/cse";
</script>
<script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
<!-- Google Search Result Snippet Ends -->