<h1>Search Results</h1>

<div class="aae_options">
  <p>
    <%= text_area_tag "q", @submitted_question.asked_question, :rows => "3", :id => "submitted_question_asked_question" %> 
  </p>
    
  <p>
    <%= link_to 'Search again', { :action => 'submit_question', :public_user => params[:public_user], :submitted_question => params[:submitted_question], :location_id => params[:location_id], :county_id => params[:county_id], :aae_category => params[:aae_category], :subcategory => params[:subcategory] }, :class => "bigbutton blue", :method => :post %>
    <%= link_to 'Send to "Ask an Expert"', {:action => 'index', :public_user => params[:public_user], :submitted_question => params[:submitted_question], :location_id => params[:location_id], :county_id => params[:county_id], :aae_category => params[:aae_category], :subcategory => params[:subcategory] }, :class => "bigbutton blue" %>
  </p>
</div>

<!-- Google Search Result Snippet Begins -->
<div id="results_002594610894210374936:hggphannnzi"></div>
<script type="text/javascript">
  var googleSearchIframeName = "results_002594610894210374936:hggphannnzi";
  var googleSearchFormName = "searchbox_002594610894210374936:hggphannnzi";
  var googleSearchFrameWidth = 650;
  var googleSearchFrameborder = 0;
  var googleSearchDomain = "www.google.com";
  var googleSearchPath = "/cse";
</script>
<script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
<!-- Google Search Result Snippet Ends -->