<div class="section">
    <h2>Content Widgets</h2>
    <p>Display a customized list of the latest eXtension articles on your own web site</p>
    <%= image_tag("widget_image", :width => '200', :height => '200', :alt => 'widget_image', :title => 'widget_image')%>
    <p class="go_button">Go</p>
</div>


<div class="section">
    <h2>Ask an Expert Widgets</h2>
    <ul>
        <li>Create an Ask an Expert widget to receive questions through your web site</li>
        <li>View and edit your existing widgets</li>
    </ul>
    <%= image_tag("widget_image", :width => '200', :height => '200', :alt => 'widget_image', :title => 'widget_image')%>
    <p class="go_button">Go</p>
</div>