<% link_to(widgets_content_url) do %>
<div class="section">
    <h2>Content Widgets</h2>
    <ul>
        <li>Display a customized list of the latest eXtension articles on your own web site</li>
    </ul>
    
    <p class="image">
    <%= image_tag("/images/widgets/content_widget_screenshot.png", :width => '278', :height => '446', :alt => 'Content Widget screenshot', :title => 'Content Widget')%>
    </p>
    
    <p class="go_button">Go</p>
</div>
<% end %>

<% link_to(widgets_aae_url) do %>
<div class="section">
    <h2>Ask an Expert Widgets</h2>
    <ul>
        <li>Create an Ask an Expert widget to receive questions through your web site</li>
        <li>View and edit your existing widgets</li>
    </ul>
    
    <p class="image">
    <%= image_tag("/images/widgets/aae_widget_screenshot.png", :width => '268', :height => '253', :alt => 'Ask an Expert Widget screenshot', :title => 'Ask an Expert Widget')%>
    </p>
    <p class="go_button">Go</p>
</div>
<% end %>