<h1>eXtension Widgets</h1>

<h2>Add customized eXtension content to your web page</h2>

<p><%= link_to("Get Started", widgets_content_url, :class => "btn btn-primary btn-large") %></p>
    
<p><%= image_tag("/images/widgets/content_widget_screenshot.png", :width => '278', :height => '446', :alt => 'Content Widget screenshot', :title => 'Content Widget')%></p>

