<ul id="nav">
	<li><%= link_to "Activity Home", :action => 'index' %></li>
	<li><%= link_to "by Location", :action => 'locations' %></li>
	<li><%= link_to "by Community", :action => 'communities' %></li>
	<li><%= link_to "by Application", :action => 'applications' %></li>
</ul>
<br class="clear"/>