<% @page_title = "Activity - Applications List"%>
<% @selected_tab = :activity %>
<%= render(:partial => 'navtabs') %>
<h1><%= @page_title %></h1>
<%= render(:partial => 'itemlist_table', :locals => { :linkobjectlist => @applications}) %>