<% @page_title = "Activity by Community" %>
<% @selected_tab = :activity %>
<%= render(:partial => 'navtabs') %>
<h1><%= @page_title %></h1>
<a name='list'/><% if @displayfilter == 'all' %>
	<ul>
		<% if !@approved_communities.nil? %><li><a href='#approved'>eXtension Communities of Practice</a></li><% end %>
		<% if !@usercontributed_communities.nil? %><li><a href='#usercontributed'>User-contributed Communities</a></li><% end %>
	</ul>
<% end %>

<% if !@approved_communities.nil? %>
	<div class="section">
	<a name='approved'/><h3>eXtension Communities of Practice</h3>
	<%= render(:partial => 'itemlist_table', :locals => { :linkobjectlist => @approved_communities }) %>
	</div>
<% end %>

<% if !@usercontributed_communities.nil? %>
<div class="section">
<a name='usercontributed'/><h3>User-contributed Communities</h3>
<% if @displayfilter == 'all' %> <p>(<a href='#list'>back to top</a>)</p><% end %>
<%= render(:partial => 'itemlist_table', :locals => { :linkobjectlist => @usercontributed_communities }) %>
</div>
<% end %>

