<h1>We're sorry - Page not found</h1>

<% if @missing %>
<p>The requested page <strong><%= @missing %></strong> was not found on our server.</p>
<% end %>

<p>The site address may have been typed incorrectly or the page may have been removed for some reason.</p>

<p>Return to the <a href="/welcome/home">eXtension People</a> welcome page.</p>


