<h1><%= @status %></h1>

<p>For help with the Google Data API, of which this is an implementation, please see the <a href="http://code.google.com/apis/gdata/reference.html" title="Google Data APIs Protocol Reference">Google Data APIs Protocol Reference</a>.</p>