# /
/tmp
/mkmf.log
.rvmrc
.powenv

# /config/
/config/database.yml
/config/micodaloco.yml
/config/appconfig.yml
/config/devserver.yml
/config/newrelic.yml
# /log/
/log/*.log
/log/*.pid
# /public/
/public/system
/public/sitemaps/*.xml
# /db/
# /data/
/data/*
# /doc
/.yardoc
/doc/*
/*.ru

# added by capatross generate_config
/config/capatross.local.yml

# added by capatross generate_config
/capatross_logs
