
# /
/tmp
/mkmf.log

# /config/
/config/database.yml
/config/micodaloco.yml
/config/appconfig.yml
/config/devserver.yml
/config/newrelic.yml

# /log/
/log/*.log
/log/*.pid

# /public/
/public/system
/public/sitemaps/*.xml

# /db/
/db/schema.rb

# /data/
/data/*

# /doc
/.yardoc
/doc/*
