# Ignore bundler config
/.bundle

# environment files
/.rvmrc
/.powenv
/.powrc
/.tm_properties
# /.ruby-gemset
# /.ruby-version

# Ignore all logfiles and tempfiles.
/log/*.log
/log/*.pid
/tmp

# public dir
/public/system
/public/sitemaps/*.xml

# configuration
/config/database.yml
/config/settings.local.yml
/config/appconfig.yml
/config/newrelic.yml

# capatross
/config/capatross.local.yml
/capatross_logs

# legacy yarddocs
/.yardoc
/doc/*

# /data/
# (jayoung) no idea why this is ignored 
/data/*