<% @selected_tab = :documentation %>

<h2>Ask Widget Documentation</h2>

<h3>Setting up your Ask an Expert Preferences</h3>
<p>This short 2-minute screencast will show you exactly how to set your preferences in the Ask an Expert application so that you can receive questions from your widget</p> 
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="320" height="233" id="viddler_8d902f8a"><param name="movie" value="http://www.viddler.com/simple/8d902f8a/" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><embed src="http://www.viddler.com/simple/8d902f8a/" width="320" height="233" type="application/x-shockwave-flash" allowScriptAccess="always" allowFullScreen="true" name="viddler_8d902f8a" ></embed></object>


<h3>Installing the widget</h3>
<p>To add the widget to your site, you need to add the line of code to your website html where you want the widget to appear. <%= link_to "Generate your widget code now", :controller => 'ask/widgets', :action => :new %></p>


<p>After you add the code, the following widget will display. The dimensions will resize to fit most layouts.</p>
    
<img alt="The Ask Widget" src="/images/ask-widget-small.png" />

