<h2>Your Widget Code</h2>
<p>Copy and paste the following code into your website code.</p>

<div id="widgetcode">
        <textarea>
<%= h('<iframe style="border:0" width="100%" src="' +  @widget_url + '" height="300px"></iframe>') %>
</textarea>
</div>