<% @selected_tab = :get %>
<%= error_messages_for 'widget' %>

<h2>Create your eXtension Ask an Expert Widget</h2>
<% form_tag({:controller => 'ask/widgets', :action => 'generate_widget_code'}) do %>
    <fieldset>
    <p>Select the location that you want your widget to cover. This will allow questions to be routed to experts who select the corresponding location in their Ask an Expert preferences.</p>
    
    <%= render(:partial => 'shared/location_county') %>
    
    <p>Name your widget (in order to track and find questions entered through it)</p>
    <%= text_field(:widget, :name) %>
    
    <p><%= submit_tag "Get the Widget Code!", :disable_with => "Submitting..." %></p>
    </fieldset>
<% end %>