<% @page_title = "Debugging Options" %>

<ul>
  <li><%= link_to("Location Information", :controller => 'debug', :action => 'location')%></li>
  <li><%= link_to("Session Information", :controller => 'debug', :action => 'session_information')%></li>
</ul>

