<h1>Cooperative Extension Search URL Manager</h1>

<p class="explanation">
  As of September 24, 2013, we have discovered problems with a deprecated version of the Google custom search engine API that we have been using to programmatically manage the custom search properties. We hope to have this functionality restored in the next several weeks
</p>