<% form_tag(:action=> "invitetocommunity",:onSubmit => "Element.show('spinner');") do %>
    <fieldset class="search">
        <p>
            <label for="findcommunity">search by Community name or description
            <%= text_field_tag("findcommunity","",{:size => 25, :class => 'ajaxfind'})%>
            <img alt="spinner" id="spinner" src="/images/common/spinner.gif" style="display:none;" /> </label>
        
        </p>
    </fieldset>
<% end %>

<%= observe_field(:findcommunity,
                 :frequency => 1,
                 :loading => "Element.show('spinner')",
                 :complete => "Element.hide('spinner')",
                 :url => { :action => :xhrfindcommunity, :id => @showuser.id },
				 :with => 'findcommunity') %>
