<h1>Invite <%= @showuser.first_name %> to a community</h1>

<div id="invitelist" class="section">
	<%= render(:partial => 'invite_community_list', :locals => { :communitylist => @communitylist, :showuser => @showuser}) %>
</div>