<% @page_title = "Find Colleagues by Location" %>
<% @selected_tab = :colleagues %>
<%= render(:partial => 'navtabs') %>
<h1><%= @page_title %></h1>
<%= render(:partial => 'itemlist_table', :locals => { :linkobjectlist => @locations}) %>