<% @page_title = "Find Colleagues by Position" %>
<% @selected_tab = :colleagues %>
<%= render(:partial => 'navtabs', :locals => { :selected => 'position' }) %>
<h1><%= @page_title %></h1>
<%= render(:partial => 'itemlist_table', :locals => { :linkobjectlist => @positions}) %>