<div id="admin">
    <p><%= link_to 'Admin home', :action => 'index' %> > <%= link_to 'All Community Logos', :action => 'manage_communities', :communitytype => (@community.is_institution? ? 'institutions' : 'approved') %></p>
    <h1>Edit Community Logo</h1>
    
<p>Not yet implemented.</p>

</div>