<div id="admin">
    <p><%= link_to 'Admin home', :controller=>'/admin', :action => 'index' %></p>
    
    <h1>Institution Logos</h1>
    
    <p><strong>Image specs:</strong> Height must be 78px. The maximum width for single logos is 360px. Doublewide logos are a special case and can be 633px. Don't include excessive whitespace around the logo; padding is added with css in the layout.</p>
    
    <table class="table">
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">Institution Name</th>
            <th scope="col">Image</th>	
        </tr>

        <%- @institutionslist.each do |institution| -%>
        <tr>
            <td><%= link_to('edit', :action => 'edit_institution_logo', :id => institution.id)%></td>
            <td><%= institution.name -%></td>
            <%- if institution.logo.nil? %>
                <td>Not yet provided.</td>
        	<%- else -%>
        	    <td><%= render_inline_logo({:logo => institution.logo, :show_thumbnail => false }) %></td>
            <%- end -%>
        </tr>
        <%- end -%>
</table>




</div>