<p><%= link_to 'Admin home', :controller=>'/admin', :action => 'index' %></p>
<h1 class="margin_bottom small">Institution Logos</h1>  
<div class="well margin_bottom">
  <h2 class="notopmargin">Image Guidelines</h2>
  <ul>
    <li>Images should be 72dpi.</li>
    <li>Images should be jpeg or png.</li>
    <li>Don't include excessive whitespace around the image. Padding is added with css.</li>
    <li>Recommended width is 300 px. The minimum acceptable width is 224 px.</li>
    <li>Recommended aspect ratio is 3:1. This isn't a hard ratio. (E.g. a 300 px wide image can have a height anywhere in the range of 80-120 px and it will look acceptable in the layout.)</li>
  </ul>
</div>

<table class="table">
  <tr>
    <th scope="col">Institution Name</th>
    <th scope="col">Image</th>	
  </tr>

  <%- @institutionslist.each do |institution| -%>
    <tr>
      <td><%= institution.name -%> <%= link_to('edit', :action => 'edit_institution_logo', :id => institution.id)%></td>
      <%- if institution.logo.nil? %>
        <td>Not yet provided.</td>
      <%- else -%>
        <td class="institutional_logo"><%= render_inline_logo({:logo => institution.logo, :show_thumbnail => false }) %></td>
      <%- end -%>
    </tr>
  <%- end -%>
</table>
