<% @page_title = "Special Pages List" %>
<% @selected_tab = :admin %>

<h2>Special Pages</h2>

<p>The following pages are treated as "special" - they are managed within the content management system, but are linked from navigation areas and the footer of the site's layout</p>

<table cellspacing="0" border="1">
	<thead>
    <tr>
        <th scope="col">Path</th>
        <th scope="col">Page Information</th>
    </tr>
	</thead>
	<tbody>
	<% SpecialPage.includes(:page).order('path').all.each do |special_page| %>
		<tr>
			<td><%= link_to(main_special_path(:path => special_page.path),main_special_path(:path => special_page.path)) %></td>
			<td><%= link_to("Page ID: #{special_page.page.id}",  pageinfo_page_path(:id => special_page.page.id)) %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<p>
  <%= link_to 'Admin Home', :action => 'index' %>
</p>
