<h2>Ask an Expert Administration</h2>

<%= render(:partial => "partial/flashmessages") %>

<ul>
    <li><%= link_to 'Categories', :action => 'categories' %> - Add categories and sub-categories</li>
    <li><%= link_to 'Roles', :action => 'roles' %> - add, edit, delete user roles</li>
</ul>
