<% @page_title = "Roles" %>
<p><%= link_to 'Admin Home', :action => 'index' %></p>

<h2><%= @page_title %></h2>

<%= render(:partial => "partial/flashmessages") %>
<ul>
<li><%= link_to @role.name, :controller => 'admin', :action => 'role', :id => @role.id %></li>
</ul>