#your-img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

.bignumber {font-size:2em;}
.mednumber {font-size:1.5em;}
.regnumber {font-size:1.2em;}
.negative {color:red;}
.positive {color:green;}

.sortable th {
  white-space: nowrap;
}

.sortable th .current {
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: right center;
}
.sortable th .asc {
  background-image: url(/assets/sort_arrow_up.png);
}

.sortable th .desc {
  background-image: url(/assets/sort_arrow_down.png);
}
