<h1>Location: <%= @location.name %></h1>
<table id="aoe_table">
    <tr>
        <th>User</th>
    </tr>
<% @users.each do |user| %>
    <tr>
        <td><%= link_to (user.fullname, {aae_profile_url(:id => user.login)}, {:class => "profile"}) %></td>
    </tr>
<% end %>
</table>