<h1>Location: <%= @location.name %></h1>
<table id="aoe_table">
    <tr>
        <th>User</th>
    </tr>
<% @users.each do |user| %>
    <tr>
        <td><%= link_to (user.fullname, {:controller => 'ask/prefs', :action => 'profile', :id => user.login}, {:class => "profile"}) %></td>
    </tr>
<% end %>
</table>