<div id="admin">
    <p><%= link_to 'Admin home', :controller=>'admin', :action => 'index' %></p>
    <h1>Create a new county link</h1>

    <%= error_messages_for :county_link %>

<% form_for(@county_link) do |f| %>
  <%= render :partial => 'form', :locals => { :county_link => @county_link } %>	
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

</div>