#sidebar {display:none;}

#content {
    float:none !important;
    margin:0;
    padding: 10px 2em 2em;
    width: auto;
    background:#fff;
    clear:both;
}
#content.narrow {
    width:43em;
}

#inc_filter {
    float:left;
    width:210px;
}
#inc_filter {
    padding: 0 1em 1em;
    border: 2px solid #ccc;
    background: #eee;
}

#homeFAQ {
    float:left;
    position: relative;
    border: 3px solid #01466f;
    padding: .3em 1em 1em;
    width:53%;
    margin-right:3%;
    color:#3a4fa2;
    background: transparent url(/images/extensionNav_bg2.jpg) repeat-x;
}
#feedlink,
#feedlink p { /*on homepage*/
    position: absolute;
    right:0;
    bottom:0;
    padding:0;
    margin:-2em 2em 10px;
    text-align:right;
}
#feeds #homeFAQ {
    width:25em;
}
#feeds #homeAAE {
    width:20em;
}
#feeds dl {
    margin:0 0 1em;
    padding:0;
    float:left;
    width:100%;
}
#feeds dt {
    color:#000;
    padding-right: 16px;
    font-weight: bold;
    font-size: 110%;
    width:100%;
}
#feeds dd {
    line-height: 150%;
    color: #000;
    margin-left: .85em;
    float:left;
    width:100%;
}
#feeds dd a {
    text-decoration:none;
    margin-right: .75em;
}
#feeds dd a:hover {
    color: blue;
    text-decoration:underline;
}
#feeds .multifeeds dd {
    line-height: 200%;
    border-bottom: 1px solid #dcdcdc;
}
#feeds .multifeeds span {
    float:left;
    font-weight:bold;
}
#feeds .multifeeds a {
    float:right;
}
a.feed {
  padding-right: 16px;
  background: transparent url(/images/feed-icon-12x12.gif) right 50% no-repeat;
}

#search_parameters {
    padding:0;
    margin:0 0 .5em;
    width:100%;
    display:block;
/*    border:1px solid red;*/
    float:left;
}
#search_parameters li {
    padding:0;
    margin:0 1em 0 0;
    float:left;
    display:inline;
}
#homeAAE {
    float:left;
    position: relative;
    border: 3px solid #007135;
    padding: .3em 1em 1em;
    width:33%;
    margin-right:1em;
    margin-bottom: 2em;
    /*background: #fff url(/images/sidebar_bg_green.jpg) repeat-x;*/
    background: transparent url(/images/global_nav_green.jpg) repeat-x;
}
#homeFAQ h2,
#homeAAE h2 {
    color:#fff;
    margin-top:0;
}
#homeAAE h3 {
    clear:both;
    margin-bottom:1em;
}
#homeAAE h4 {
    margin-bottom:1em;
}
#homeAAE li, #homeFAQ li {list-style:none;}
#homeAAE p{
    background: #e5e5e5;
    padding:.5em 1em;
    color:#666;
    background:url(/images/table_row_fade_gray.jpg) repeat-y #fff;
}
#homeAAE h3 span {
    color: #888;
    font-weight: normal;
}
#homeAAE h3 small {
    display:block;
    clear: both;
    color: #518c51;
    font-size: 70%;
    font-weight:normal;
    margin-top:.3em;
}
#cloud {
    text-align:left;
}
ul {
    clear:both;
    padding:0;
    margin:0 0 1em;
}
#homepageAsk {

    margin-right:1em;
}

#pageContent {
    clear:both;
    background: #eee;
    padding:0 0 1.5em !important;
    border:0;
    border-top:4px solid #333; /*#ea7e1d;*/
    background:none;
}
h2{
    color:#3a4fa2;
/*    font-size:140%;*/
}
h2 small{
    font-size:80%;
    text-transform:capitalize;
    font-weight:normal;
}



/* Nav bar to other eXtension apps
-----------------------------------------------------------------------------*/
#extensionNav {
	text-align: center;
	background: #777 url(/images/global_nav_light_gray.jpg) repeat-x;
	clear: both;
	padding: .15em 0;
	margin: 0;
	border-top: 1px solid #001e36;
}
#extensionNav a {
    padding: 0 .75em;
    color: #fff;
    text-decoration: none;
  }
#extensionNav li {
	padding: 0;
	margin: 0;
	list-style: none; 
	display: inline;
}
  #extensionNav a:hover {
      text-decoration: underline;
    }
    
ul li {
    list-style-type: none;
    padding:0;
    margin:0 0 .15em .5em;
}
h3 {
    padding:0;
    margin:0;
}
label {
    color:#000;
}
#tag_cloud {margin:0;padding:0;text-align:left;}
#tag_cloud h3 {padding:0 0 0 18px;background:  url(/images/tag_blue.png) left 50% no-repeat;}


h2 a {
    color:#fff !important;
    text-decoration:none;
}


#homepageAsk {
	text-align: left;
	margin: 0 0 1.75em;
	padding: .5em 1em;
	background:url(/images/table_row_fade_blue.jpg) repeat-y #fff;
}
#homepageSearch {
	text-align: left;
	margin: 0 0 1.75em;
	padding: .2em .5em .5em;
	background:url(/images/table_row_fade_blue.jpg) repeat-y #fff;
    color: #3a4fa2 !important;
    clear: both;
    width:auto;min-width:100%; /* IE7 clearing hack */ 
}
#homepageSearch label,
#homepageAsk label {
    color: #3a4fa2 !important;
}
/*#homepageAsk h3 {font-size:1.4em !important;}*/

#homepageAsk label,
#homepageSearch label {
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 0 2px;
}
#homepageSearch ul {
/*  float: left;*/
	margin: 0;
	padding: 3px 0 0;
}
#homepageSearch ul li {
	list-style-type: none;
	margin: 0;
	padding: 0 12px 0 6px;
    display:inline;
}
#homepageAsk textarea {
	padding: 2px;
}

/* Message of the day */
#motd {
    float: left;
    width:33%;
    margin: 0em 0 1em;
	padding: 1em 1em .2em 1em;
	border-bottom: 1px solid #edbf90;
	background: #fffbc3;
}
#motd h2 {
    color:#6a1300;
    margin: 0 0 .75em;
}
#motd p {
	margin: 0 0 .25em;
	line-height: 140%;
	padding: .2em 0 .2em 0;
	color:#6a1300;
	font-family: Arial, Helvetica, sans-serif;
}
#motd #date {
    font-size: 80%;
    color: #888;
}
#motd p a       { color: #2f2fcf; }
#motd p a:hover { background:#fff; text-decoration:none;}


#simplecenter {margin: 2em auto 1em;width: 65em;}

#footer {
	background: #002e48 url(/images/footer_bg_gray.jpg) center top repeat-y;
}
#footer a {color:#fff;}

#answerers div {
    width:27%;
    float:left;
    margin-right:5%;
}
#answerers h3 {
    margin-bottom:1em;
}
#answerers ul.users li {
padding-left: 20px;
background:url(/images/user.gif) no-repeat #fff;
}
#answerers div table{
    border:0;
    padding:0;
}
#answerers div table td {
    border:0;
/*    padding:0;*/
}
#answerers h1 {
    font-size: 170%;
    margin-bottom:.5em;
}
#answerers div table td.count {
/*    font-size: 150%;*/
    text-align: center;
    padding: .2em;
    font-weight:bold;
}
#answerers div table td a {
    padding:0;
}

.general_table {
	position: relative;
	float: left;
}
#browse {
	position: relative;
	float: right;
	width: 45%;
}
#browse ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#browse li {
	padding: .25em 0;
	margin: 0;
}
.box{
    float:left;
    margin-right: 2%;
    width:29%;
/*    border: 1px solid red;*/
}
.box.last{
    float:left;
    margin-right: 0;
    width:65%;
}

#prefs {position: absolute;right: .8em;top: 3.8em;margin-bottom:0;}
#prefs li {float:right; list-style:none;}
#prefs li a {color:#666;}

.box li {line-height: 110%;margin-bottom: .7em;list-style:none;}

.publishicon {
    margin-left: -.6em;
    padding-left: 15px;
    background: transparent url(/images/bullet_go.png) -2px 50% no-repeat !important;
}
#userinfo .help { display:none; }
h2 {
    color:#333;
    margin-bottom:1em;
}
form legend {
    color:#333;
}
#signin {float: left; width: 260px;background: #feffc9;}
#signin p {float:left;clear:both;width:100%;}
#signin p.openid {width:95%;}
#signin p.openid input {width:100%;}
#signin form {float:left;width:100%;margin-bottom:0;}
#signin fieldset {padding:0; margin:0;border:1px solid lime;}
#signin_directions {float: left;width: 240px;margin-right: 20px;}
/*#signin label {font-weight: normal;font-size: 90%;}*/

#signin {margin-bottom:4em;}
#signin p {margin-bottom:1em;}
#signin_directions {float:left;width:25em;}
#singin-form {float:left;width:35em;}
#signin_directions #help {margin-top:2.5em;}

#signin {width:85% !important;}
#openid_identifier {width:100%;}
#signin_directions #help h3 {color: #333;font-size:1.3em;}

#help h2 {
    color: #888;
    border-bottom:1px solid #888;
    font-size:1.3em;
    margin-bottom:.5em !important;
    padding-bottom:0 !important;
    text-transform: uppercase;
}
#activitylinks {
    margin:0 0 1em;
    padding:0;
    border-bottom: 1px solid #ddd;
}
#activitylinks li {
    display:inline;
}
#activitylinks li a {
    margin:0 !important;
    padding:0 !important;
}
.new {
    margin:0 0 0 .2em;
    padding:0;
    font-size:85%;
    color: #555;
    background: #ffff4d;
}
#search_parms {
    padding:0;
    margin:0 0 .5em;
    width:100%;
    float:left;
}
#search_parms li {
    padding:0;
    margin:0 1em 0 0;
    float:left;
    list-style:none;
}
#date_range_right {
	position: relative;
	float: left;
	width: 48%;
	margin-bottom: 1.65em;
}
#date_range_right form, 
#date_range_right p {
	position: relative;
	float: left;
	width: 100%;
}
#date_range_right span {
    margin: 0 .25em 0 .5em;
}
#date_range_right input {
    margin: 0 0 0 .65em;
}
#date_range_right a {
    color: blue;
}
#date_range_right #calendar {
    padding-left: 30px;
    background: #fff url(/images/calendar_view_week.png) 6px 50% no-repeat;
}
#date_range_right div {
    background:#f1f1f1;
    border-bottom: 2px solid #e0e0e0;
    padding: 0 .65em     .35em;
    float: left;
}
.zero {color: #888;}
#leftcal {width:48%;float:left;margin-top:1em;}
#rightcal {width:35%;float:right;}
#date-selector {background:#e8e8e8;float:left;margin-bottom:1em;}
#date-selector #calendar {padding:1em;margin-bottom:.5em;}
.dyndate {margin-top:1em;margin-bottom:.3em;}
.datecompare {font-family: Arial, Helvetica, sans-serif;margin-bottom:2em;}
#login-alert {border:1px solid #a0da4a;background:#eaffcb;float: left;
width: 280px;padding:5px 10px 0;}
#login-alert p {font-family: Arial, Helvetica, sans-serif !important;}

#signinhelp {clear:right;}
.easyread {padding:.1em;}
.nomargins {margin:0;}