/* 
  datepicker styles
  David Lee 2005
  all parts user servicable
*/
.date_picker {
  /* comment out this line to show by default: */
  display: none;
  z-index: 100;
  /* comment out this line to prevent calendar 'floating' over page: */
  position: absolute;
  background: #4f537b !important;
  padding: .95em !important;
  border: 0 !important;
}

.date_picker table {
    background: #fff !important;
    border: 0 !important;
  font-family: verdana, sans-serif;
  width: auto !important;
  margin-bottom: 0 !important;
}
.date_picker th {
  font-size: 110%;
  color: #222 !important;
  font-weight: bold;
  text-align: center;
  background: #fff !important;
}

.date_picker .day_labels th {
  color: #555 !important;
  font-size: 90%;
  font-weight: normal;
  background: #fff !important;
}

.date_picker th a {
	width: auto;
}
.date_picker td {
  padding: 0;
  background: #ddd;
  text-align: center;
}

.date_picker a {
    margin: 0;
    padding: .25em !important;
    display: block !important;
    text-decoration: none;
    color: navy !important;
    border: 1px solid #ddd;
}
.date_picker th a {
    border: 0;
}
.date_picker th a:hover {
    border: 0;
    text-decoration: underline !important;
}
.date_picker a:hover {
    color:#000 !important;
    background: #fff !important;
    border: 1px solid #003e85;
    text-decoration: none !important;
}

.date_picker .cancel_butt { text-align: right;  }
.date_picker .cancel_butt a {
  width: auto;
  color: gray;
  font-family: verdana, sans-serif;
  text-decoration: none;
  border: 0;
}
.date_picker .cancel_butt a:hover {
  background: gray;
  color: white;
}

