body {background:#fff;}
body, html {font-family: Helvetica, "Arial", "sans-serif";}

/* firefox 3.5 not treating these elements as block elements */
section, article, aside {display:block;}

#wrapper {/*background:#f1f1f1;*/ width: 960px; margin:0 auto; outline:1px solid #ddd;}
header#masthead {float:left; padding:10px;width:940px; position:relative; outline:1px solid #aaa;}
#content {clear:both;}



/* app banner
-----------------------------------------------------------------------------*/
#extensionNav {text-align: center; background: #777; padding: .15em 0 .2em; margin: 0;}
#extensionNav .group {display:inline; padding:0 1em; border-right:1px solid #aaa;}
#extensionNav .last {border:0;}
#extensionNav .group span {display:none;}
#extensionNav .group li {display:inline;}
#extensionNav li li {font-size:1em;}
#extensionNav a {padding: 0 .4em; color: #fff; text-decoration: none;}
#extensionNav ul {display:inline; font-size:inherit;}
#extensionNav a:hover { text-decoration: underline;}

/* user info and search
-----------------------------------------------------------------------------*/

#userinfo {
	position: absolute;
	top: 10px;
	right: 10px;
	margin: 0;
	padding: 0;
}
#userinfo li {
	display: inline;
	margin: 0;
	padding: 0 0 0 .5em;
}
#userinfo li a {text-decoration:none;}
#userinfo li a:hover {text-decoration:underline;}

/* layout
-----------------------------------------------------------------------------*/
#home section {width:300px;margin:0 10px; float:left;}

#upcoming_events article {background:#ededed; /*padding:10px; margin:10px;*/}

#footer {clear:both; padding:20px 10px 60px; border-top:1px solid #ddd;}
#footer p {color:#555;}
#footer a {color:#444; display:block; padding:.1em .5em;}
#footer a:hover {color:#253d7b; text-decoration:none; background:#fff;}
#footer ul {float:right; padding:.1em 1em;}
#footer ul li {float:left; }
#footer ul li.last {padding-right:0;}
.copyright {float:left;}
.clearing {clear:both;}


#recent_sessions dt, #recent_sessions dd {padding-left:22px;} 
.no_recording_availble dt {background: transparent url(/images/common/television_grayed_out.png) left 50% no-repeat;}
.recording_availble dt {background: transparent url(/images/common/television.png) left 50% no-repeat;}

#learn_help {background:#ededed;}
#learn_help ul li {margin:0 0 10px;}
.feed {background: transparent url(/images/people/feed-icon-16x16.gif) left 50% no-repeat; padding-left:22px;}
