body {
    -webkit-text-size-adjust:none;
    padding:0;margin:0;word-wrap: break-word;
}

body * { font-family: Arial;}


div#app_location {color:#fff; padding:8px;text-align:left;}
div#app_location p {margin:0;line-height:1em;}
div#app_location.localdev {background: #ccc;border:1px solid #888;color:#222;padding:4px;}
div#app_location.demo {background: #ff00ff;border:1px solid #000;color:#222;}
div#app_location.preview {background: #229ec0;}
div#app_location a {color:#222; text-decoration:underline; padding:0 .5em;}
div#app_location.localdev a {color:#000; text-decoration:underline; padding:0 .5em;}

#skiplist, .print, .view_as_web_page, .clearing  {display:none;}

#wrap {padding:8px;}

h1 {font-size:1.4em;}
h2 {font-size:1em;}
h3 {font-size:1em;background:#ddd; padding:4px; clear:both;}

h1.missionstatement {font-size:1em;}

.rightcolmodule h1 {background:#ddd;}


.home_slider .contentdiv dl {margin:0;}
.home_slider .contentdiv dt {margin:0 0 4px;}
.home_slider .contentdiv dd {margin:0;}

.whatsnewbox .months a {float:left; padding:4px;margin-right: 8px;}

#eXlogo {background:url(/images/layout/extensionlogo.gif) no-repeat left top;text-indent:-5000px;overflow:none;padding:0;margin:0 0 10px;}
#eXlogo a {width:216px; height: 81px;display:block;overflow:hidden;}


/* Forms
-----------------------------------------------------------------------------*/
fieldset {border:0; padding:0;}
input {display:block;}
input, option, select, textarea {font-size: 1em;margin-bottom:6px;}
textarea {width:90%;}
label {font-weight:bold;}
.aae fieldset p.simplefield input {width:90%;}
.searchbar input {display:inline;}


#footer {padding-bottom:2em;float:left; width:100%;}
#footer p {padding:8px;}
#footer ul {padding:8px;margin:0;}
#footer ul li {float:left; list-style:none; padding: 4px 6px; margin: 0;}
.copyright {color:#888;}

#homage {clear:both;}
#homage, .homagepic {background:#eee; padding:8px;}
#homage p {padding:0;margin:0;}