body {
    -webkit-text-size-adjust:none;
    padding:0;margin:0;
}

body * { font-family: Arial;}

p {word-wrap: break-word;}
div#app_location {color:#fff; padding:8px;text-align:left;}
div#app_location p {margin:0;line-height:1em;}
div#app_location.localdev {background: #ccc;border:1px solid #888;color:#222;padding:4px;}
div#app_location.demo {background: #ff00ff;border:1px solid #000;color:#222;}
div#app_location.preview {background: #229ec0;}
div#app_location a {color:#222; text-decoration:underline; padding:0 .5em;}
div#app_location.localdev a {color:#000; text-decoration:underline; padding:0 .5em;}

#skiplist, .print, .view_as_web_page {display:none;}

#userinfo {float:left;background: #eee; margin: 0 0 4px; padding:0;width:100%;}
#userinfo li {float:left; background: #eee;list-style:none; padding:4px 10px;}

#pageContent {clear:both;}
#primaryNav {clear:both;}

#content {padding:10px;}

input {display:block;}
input, option, select, textarea {font-size: 1em;margin-bottom:6px;}
fieldset {border: 0;}

#footer {padding:8px;}

h1 {font-size:1.2em; color:#003073; padding:0 0 .5em;margin:0;}
h2 {font-size:1em; color:#003073;}
h3 {font-size:1em;background:#ddd; padding:4px; clear:both;color:#003073;}


/*#masthead {border-top:solid 6px #041845;}*/
#masthead h1 {margin: 5px 0 8px; padding:0; height: 50px;text-indent: -9000px;background: url(/images/people/people_logo_mobile.png) top 5% no-repeat;}

#masthead h1 a {display: block;height: 50px;}
#app_location {display:none;}





/* Forms
-----------------------------------------------------------------------------*/
form {margin:0 -10px 1em -10px;padding:0;} /* offset form margins by #content padding */
fieldset {border:0; padding:0; margin:0;}
input {display:block;}
input, option, select, textarea {font-size: 1em;margin-bottom:6px;}
textarea {width:90%;}
label {font-weight:bold;  font-size:.95em; color:#333;}
.aae fieldset p.simplefield input {width:90%;}
input.text {width:90%;}

input {
    cursor:text;
    letter-spacing:normal;
    line-height:normal !important;
    padding:1px 0;
    text-indent:0;
    word-spacing:normal;
}

fieldset {border:1px solid #ddd; padding:8px; background:#eee; border-left:0;border-right:0;}
fieldset p {padding:0;}
fieldset h2 {padding:0;margin:0; color:#003073; font-size:1.2em;font-weight:normal;}



a {color:#096197;}
.forgotpassword {margin-top:1.5em;display:block;}

/*p {padding-left:8px;padding-right:5px;}*/
.less_emphasis {color:#555;}

p {margin:0 0 1em;padding:0;}

code {color:#000;background:#eee; font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New; font-size:1em; padding-left:.2em;padding-right:.2em;}

.feedback_banner.warning, .feedback_banner.failure {background:#ffe2e3; margin:0 -10px 1em -10px; padding:.5em;color:#8f0705;border-top:1px solid red;border-bottom:1px solid red;}
.feedback_banner p {padding:0;margin:0 0 1em;}


dl.usernetwork {float:left;border-bottom: 1px solid #ddd; padding:.25em .25em .35em 30px;clear:both;margin:0 0 .35em;}
.usernetwork dt {float:left;margin:.35em .85em .25em -26px;}
.usernetwork dd {float:left;margin:.35em 0; white-space:nowrap;}

#socialnetworklist {margin-bottom:3em;float:left;width:100%;max-width:900px;}
#socialnetworklist li {margin:0 0 .6em !important; line-height:1.3em;color:#000;}
.socialnetwork a {display:inline;}

.aim        {padding:0 0 0 26px; background: url(/images/people/socialnetworks/aim.png) 0 0 no-repeat;}
.blog       {padding:0 0 0 26px; background: url(/images/people/socialnetworks/blog.png) 0 0 no-repeat;}
.delicious  {padding:0 0 0 26px; background: url(/images/people/socialnetworks/delicious.png) 0 0 no-repeat;}
.facebook   {padding:0 0 0 26px; background: url(/images/people/socialnetworks/facebook.png) 0 0 no-repeat;}
.flickr     {padding:0 0 0 26px; background: url(/images/people/socialnetworks/flickr.png) 0 0 no-repeat;}
.friendfeed {padding:0 0 0 26px; background: url(/images/people/socialnetworks/friendfeed.png) 0 0 no-repeat;}
.gizmo      {padding:0 0 0 26px; background: url(/images/people/socialnetworks/gizmo5.png) 0 0 no-repeat;}
.google     {padding:0 0 0 26px; background: url(/images/people/socialnetworks/google.png) 0 0 no-repeat;}
.gtalk      {padding:0 0 0 26px; background: url(/images/people/socialnetworks/gtalk.png) 0 0 no-repeat;}
.other		{padding:0 0 0 26px; background: url(/images/people/socialnetworks/other.png) 0 0 no-repeat;}
.identica   {padding:0 0 0 26px; background: url(/images/people/socialnetworks/identica.png) 0 0 no-repeat;}
.jabber     {padding:0 0 0 26px; background: url(/images/people/socialnetworks/jabber.png) 0 0 no-repeat;}
.linkedin   {padding:0 0 0 26px; background: url(/images/people/socialnetworks/linkedin.png) 0 0 no-repeat;}
.magnolia   {padding:0 0 0 26px; background: url(/images/people/socialnetworks/magnolia.png) 0 0 no-repeat;}
.msnim      {padding:0 0 0 26px; background: url(/images/people/socialnetworks/msnim.png) 0 0 no-repeat;}
.secondlife {padding:0 0 0 26px; background: url(/images/people/socialnetworks/secondlife.png) 0 0 no-repeat;}
.skype      {padding:0 0 0 26px; background: url(/images/people/socialnetworks/skype.png) 0 0 no-repeat;}
.slideshare {padding:0 0 0 26px; background: url(/images/people/socialnetworks/slideshare.png) 0 0 no-repeat;}
.twitter    {padding:0 0 0 26px; background: url(/images/people/socialnetworks/twitter.png) 0 0 no-repeat;}
.yahooim    {padding:0 0 0 26px; background: url(/images/people/socialnetworks/yahooim.png) 0 0 no-repeat;}
.youtube    {padding:0 0 0 26px; background: url(/images/people/socialnetworks/youtube.png) 0 0 no-repeat;}
.mailto      {padding:0 0 0 26px; background: url(/images/common/email.png) 0 0 no-repeat;}
.wave      {padding:0 0 0 26px; background: url(/images/people/socialnetworks/wave.png) 0 0 no-repeat;}

a {text-decoration:none;}