body {background:#fff;}


body, html {font-family: Helvetica, "Arial", "sans-serif";}

#wrapper {background:#f1f1f1; width: 960px; margin:0 auto; }

#masthead {float:left;background:#fff; padding:10px;width:940px;}
#header {float:left;}
#logo {float:right;}
#header h1 {font-size:24pt; font-weight:normal; margin-bottom:.15em;}
#header h1 a {color:#253d7b; text-decoration:none;}
#header h1 a:visited {color:#253d7b;}
#header h1 a:hover {color:#253d7b;}
#header p {font-size:14pt;color:#444;}

#content {float:left; background: url(/images/widgets/widgets_home_masthead_shadow.png) #f1f1f1 repeat-x; padding:20px 0 20px; width:100%;}

.section {
    float:left;
    position:relative;
    width:318px;
    margin: 0 40px 40px;
    padding:10px 40px;
    border:1px solid #ccc;
    border-right:1px solid #888;
    border-bottom:1px solid #888;
    background: url(/images/widgets/widgets_section_bg.png) #e5f2ff repeat-x 0 0; 
    box-shadow: 3px 3px 4px #888;
    -moz-box-shadow: 3px 3px 4px #888;
    -webkit-box-shadow: 3px 3px 4px #888;
    display:inline; /* ie6 hack to keep layout from completely breaking */
    }

a:hover .section {
    border:1px solid #a2b1d9;
    border-right:1px solid #253d7b;
    border-bottom:1px solid #253d7b;
    box-shadow: 3px 3px 4px #444;
    -moz-box-shadow: 3px 3px 4px #444;
    -webkit-box-shadow: 3px 3px 4px #444;
    background: url(/images/widgets/widgets_section_bg.png) #d9ecff no-repeat -500px 0;
    }


a .section li {color:#666;}
a:hover .section li {color:#000;}
a {text-decoration:none;}
a .section li, a .section p {margin-bottom:1em; font-size:15px; }

.section a {color:#0047ae;}
.section.aae {width:220px; margin: 0 20px 40px 40px;}
.section.aae ul {padding:0 20px; width:150px;}
.section.aae li {list-style:disc; margin-bottom:1em;}

.image {text-align:center;}
.go_button {
    width:85px;
    height:85px;
    background: url(/images/widgets/go_arrow_hover.png) no-repeat transparent;
    position:absolute;
    right:15px;
    bottom:5px;
    text-align:center;
    line-height:87px;
    color:#fff !important;
    font-weight:bold;
    font-size:10pt;
    text-transform:uppercase;
    }

a:hover .go_button {
    background: url(/images/widgets/go_arrow_hover.png) no-repeat -85px 0 transparent;
}

.section h2 {color:#253d7b; font-size:18pt;font-weight:normal;}

#footer {clear:both;color:#222;padding:2em 0 0;margin:50px 0 0;background:#fff;}
#footer .col {width:300px;float:left;margin: 0 10px 0;background:#fff;}
#footer h4 {color:#164393; font-weight:normal;border-bottom:1px solid #79a9e1;padding-bottom:.55em;font-size:1.7em;}
#footer dl dt {margin:0 0 .25em;font-weight:bold;}
#footer dl dd {margin:0 0 1em;}

#common_footer {clear:both; padding:20px 10px 60px; border-top:1px solid #ddd; background:#f1f1f1;}
#common_footer p {color:#555;}
#common_footer a {color:#444; display:block; padding:.1em .5em;}
#common_footer a:hover {color:#253d7b; text-decoration:none; background:#fff;}
#common_footer ul {float:right; padding:.1em 1em;}
#common_footer ul li {float:left; }
#common_footer ul li.last {padding-right:0;}
.copyright {float:left;}
.clearing {clear:both;}

#example_widget {float:left; padding:20px 30px 30px; width:380px; background:#fff; display:inline; /* ie6 hack to keep layout from completely breaking */}
/*#content_widget {float:right; padding:10px 30px; 30px;}*/
#widget_builder {float:left; background:#fff; width: 400px; margin-left:40px; padding:20px; margin-right:20px; display:inline; /* ie6 hack to keep layout from completely breaking */}
#widget_code_module {margin-top:20px;border:1px solid #ccc; float:left; padding:20px; background:#fff; border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;}
#widget_code {width:300px; padding:8px;}
#loading {height:32px; background:#8ebeef; padding:10px; margin-bottom:20px; border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;}
#loading p {line-height:32px; padding:0;margin:0;color:#fff; font-size:2em; letter-spacing:1px;}
#loading img {float:left; margin-right:10px;}

#content h1 {margin:0 0 0; color:#253d8d;}
#article {margin:0 40px 0; width:600px; padding:20px; background:#fff;}
ol {margin:1em 3em;}
ol li {margin: 0 0 .75em;padding:0;}
#article li {list-style:disc;}

#subnav {padding:0 40px 10px; position:relative;}
#subnav #tagline {font-size:2em; color:#3d76ba;}

#subnav #tagline {font-size:2em; color:#3d76ba;}
.signin, .usericon {position:absolute; top:0; right:20px;}

#aae_nav {margin-top:0;width:200px;float:right;}
#aae_nav {list-style:none;margin:0;padding:0;clear:both;}
#aae_nav li {margin:0;}
#aae_nav li a {line-height: 1.2em;display:block;font-size:1.2em;padding: 1em 20px;width:160px;}
#aae_nav li a:link,
#aae_nav li a:visited {color:#fff; text-decoration:none;background: #5294cc url(/images/ask/side_nav.png) repeat-y -200px bottom;}
#aae_nav li a:hover {background: #5294cc url(/images/ask/side_nav.png) repeat-y -400px bottom ;}
#aae_nav li.selected a {color:#fff; text-decoration:none;background: #5294cc url(/images/ask/side_nav.png) repeat-y 0 0;}

#nav {
    float: left;
    width: 100%;
    margin: 0 0 1em;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #ddd;
    color: #000;
}
#nav li {
    float: left;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    list-style: none;
    background:#fff;
    border-bottom:0;
}

#nav li.selected {border:1px solid #81b5ff;background:#dbeaff;border-bottom:0;}

#nav li a {display:block;padding: .5em .85em;text-decoration:none;}
#nav li a:hover {text-decoration:underline;}

/* Forms 
-----------------------------------------------------------------------------*/

form p {
    margin:0 0 1.5em;
}
label {
    display:block;
    font-weight:bold;
}
label input {
    display:block;
    width:20em;
}
label span {
    display:block;
    font-weight:normal;
}
label em {
    color:#666; 
    font-weight:normal;
    font-style:normal;
    font-size:.9em;
}
select {display:block;}
textarea { padding: .3em; }
textarea { width: 95%; }

.checkbox {display:inline; width:auto;}
.inline {display:inline;}
p.inline * {display:inline;}
p.inline label input {width:auto;}
.float-spinner {display:inline;}
.active-status {padding:1em; background:#eee; margin:1em 0 3em;}
.active-status.active {background:#d3ebcb;}
.widget-history li {border-bottom:1px solid #eee;padding:.75em 0;margin:0;list-style:none !important;}
.groupicon {background: transparent url(/images/common/group.png) 0 0 no-repeat; padding-left:20px;}
#widgetcode { margin:1em 0; padding:.5em 0;}
#widgetcode textarea {padding:.5em;font-family:monospace;font-size:1.7em;color:#0d027e;line-height:1.5em;overflow:auto;height:100px;}
.detailpage #widgetcode textarea {background:#d7e3f2;border:0;color:#000;}
.detailpage  h2 {margin:0; float:left; width:50%;}
#widget_wrapper {background:#fff; padding:20px;}

#ask-to-aae {margin:0 0 3em; background:#fff; text-align:center;padding:1em 0 2em;border:1px solid #888; width:510px;}
#ask-to-aae ol {
    float:left;margin:0 0 1.5em;padding:0;
}
#ask-to-aae li{
    text-align:left;
    float:left;width:148px;margin:0 8px 0 12px;padding:0 0 0 0;
    list-style-position:inside;
    color:#ea7e1d;
    line-height:1.1em;
    font-size:1.5em;
}
#ask-to-aae li.last {
    margin:0 8px 0 20px;width:140px;
}
#ask-to-aae h4 {font-weight:normal;font-size:1.9em;color:#333;}
#errorExplanation {color:red;}
#errorExplanation h2 {color:red;margin:0 0 .5em;}
#errorExplanation p {margin:0 0 .5em;}
#errorExplanation ul {padding:0 2em 2em;}
#errorExplanation li {padding:0 .5em; list-style:disc; margin:0;}

#tag_wrapper {height:120px; overflow:auto; background:#eee; padding:10px;}
.gray {color:#666;}
#tag_operator {background:#fff0b2; display:none; padding:10px;}

#assignee_pool {padding-left:30px; margin-bottom:30px;}

#connectiontowidget {float:right; background: #FFE2C8; width:40%; padding:1em;border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;}
#connection_options .button {margin:0;}

#connectiontowidget h5 {color:#4e402e;}
#connectiontowidget h5 span {font-weight:normal;}
.widget_date_created {color:#888; float:left; clear:left; font-size:12px;}
#widget_assignees h4, #widget_assignees p {clear:left; width:50%;}

.bigbutton {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .4em .75em .35em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.bigbutton:hover {
	text-decoration: none;
}
.bigbutton:active {
	position: relative;
	top: 1px;
}

.blue {
	color: #fef4e9 !important;
	border: solid 1px #4b75e6;
	background: #2d7dbf;
	background: -webkit-gradient(linear, left top, left bottom, from(#4ca0e7), to(#2d7dbf));
	background: -moz-linear-gradient(top,  #4ca0e7,  #2d7dbf);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ca0e7', endColorstr='#2d7dbf');
}
.blue:hover {
	background: #274ea6 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#4ca0e7), to(#274ea6)) !important;
	background: -moz-linear-gradient(top,  #4ca0e7,  #274ea6) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ca0e7', endColorstr='#274ea6') !important;
}
.blue:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#274ea6), to(#4ca0e7));
	background: -moz-linear-gradient(top,  #274ea6,  #4ca0e7);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#274ea6', endColorstr='#4ca0e7');
}
#breadcrumb {margin:-10px 40px 5px; color:#666;}
a:link      {color: #005bae;}
a:active    {color: red;}
a:visited   {color: #005bae;}
a:hover     {color: #0043da;}
.alert {background:yellow; font-style:normal; padding:4px;}

/* Error handling and feedback
-----------------------------------------------------------------------------*/
.feedback_banner {
	font-weight: bold;
	padding: 2px 6px 2px 28px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	margin-bottom: 1em; }
.feedback_banner p {margin: .25em 0 .5em; font-weight: normal;}

.warning {
	color: #666;
	border-color: #E0BC12;
	background: #FFF6CB url(/images/common/warning.gif) 6px 3px no-repeat; }
.success {
	color: #000;
	border-color: #feb700;
	background: #fcff47}
.failure {
	color: #d90000;
	border-color: #d84040;
	background: #ffebf3 url(/images/common/failure.gif) 4px 3px no-repeat; }

