body {background:#fff;}


body, html {font-family: Helvetica, "Arial", "sans-serif";}

#wrapper {background:#f1f1f1; width: 960px; margin:0 auto; }

#masthead {float:left;background:#fff; padding:10px;width:940px;}
#header {float:left;}
#logo {float:right;}
#header h1 {font-size:24pt; font-weight:normal; margin-bottom:.15em;}
#header h1 a {color:#253d7b; text-decoration:none;}
#header h1 a:visited {color:#253d7b;}
#header h1 a:hover {color:#253d7b;}
#header p {font-size:14pt;color:#444;}

#content {float:left; background: url(/images/widgets/widgets_home_masthead_shadow.png) #f1f1f1 repeat-x; padding:40px 0 20px; width:100%;}

.section {
    float:left;
    position:relative;
    width:318px;
    margin: 0 40px 40px;
    padding:10px 40px;
    border:1px solid #ccc;
    border-right:1px solid #888;
    border-bottom:1px solid #888;
    background: url(/images/widgets/widgets_section_bg.png) #e5f2ff repeat-x 0 0; 
    box-shadow: 3px 3px 4px #888;
    -moz-box-shadow: 3px 3px 4px #888;
    -webkit-box-shadow: 3px 3px 4px #888;
    }

a:hover .section {
    border:1px solid #a2b1d9;
    border-right:1px solid #253d7b;
    border-bottom:1px solid #253d7b;
    box-shadow: 3px 3px 4px #444;
    -moz-box-shadow: 3px 3px 4px #444;
    -webkit-box-shadow: 3px 3px 4px #444;
    background: url(/images/widgets/widgets_section_bg.png) #d9ecff no-repeat -500px 0;
    }


a .section li {color:#666;}
a:hover .section li {color:#000;}
a {text-decoration:none;}
a .section li, a .section p {margin-bottom:1em; font-size:15px; }

.image {text-align:center;}
.go_button {
    width:85px;
    height:85px;
    background: url(/images/widgets/go_arrow_hover.png) no-repeat transparent;
    position:absolute;
    right:15px;
    bottom:5px;
    text-align:center;
    line-height:87px;
    color:#fff !important;
    font-weight:bold;
    font-size:10pt;
    text-transform:uppercase;
    }

a:hover .go_button {
    background: url(/images/widgets/go_arrow_hover.png) no-repeat -85px 0 transparent;
}

.section h2 {color:#253d7b; font-size:18pt;font-weight:normal;}

#footer {clear:both;color:#222;padding:2em 0 0;margin:50px 0 0;background:#fff;}
#footer .col {width:300px;float:left;margin: 0 10px 0;background:#fff;}
#footer h4 {color:#164393; font-weight:normal;border-bottom:1px solid #79a9e1;padding-bottom:.55em;font-size:1.7em;}
#footer dl dt {margin:0 0 .25em;font-weight:bold;}
#footer dl dd {margin:0 0 1em;}

#common_footer {clear:both; padding:20px 10px 60px; border-top:1px solid #ddd; background:#f1f1f1;}
#common_footer p {color:#555;}
#common_footer a {color:#444; display:block; padding:.1em .5em;}
#common_footer a:hover {color:#253d7b; text-decoration:none; background:#fff;}
#common_footer ul {float:right; padding:.1em 1em;}
#common_footer ul li {float:left; }
#common_footer ul li.last {padding-right:0;}
.copyright {float:left;}
.clearing {clear:both;}

#example_widget {float:left; padding:10px 30px; 30px; width:400px;}
/*#content_widget {float:right; padding:10px 30px; 30px;}*/
#widget_builder {float:left; background:#fff; width: 400px; margin-left:40px; padding:20px; margin-right:20px;}
#widget_code_module {border:1px solid #ccc; float:left; padding:20px; background:#fff; border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;}
#widget_code {width:300px; padding:8px;}
#loading {padding:20px;}