	-=-=-=-=-= PLEASE DISREGARD:  DEMONSTRATION EMAIL =-=-=-=-=-

	This is a demo email being sent from a demo/test/development 
	install of our Identity application.  

	We are currently testing functionality in the application that 
	generated this test email.  You may ignore this email message.

	-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
