<div class="form_help">
    <h2>If you didn't receive the email yet...</h2>

    <p>Sometimes emails can get delayed up to a few hours. It's also possible for email to be mistakenly flagged as spam by your email provider. You may want to check your Spam or Junk folders to see if it's there.</p>

    <p>This email will be from:
    <br /><code><%= Rack::Utils.escape_html("#{AppConfig.configtable['emailsettings']['people']['name']} <#{AppConfig.configtable['emailsettings']['people']['address']}>") %> </code></p>


    <p>with the subject:
    <br /><code>eXtension Initiative: Please confirm your email address</code></p>

    <p>If you don't receive the email within the next 24 hours,  please try <%= link_to("sending another confirmation email", :controller => '/people/signup', :action => :confirm, :token => 'send') %> or 
	<%= link_to("contact us", :controller => '/people/help', :action => :index) %> for more information.</p>
</div>