<ul class="radio">
    <% institutionlist.each do |institution| %>
        <li>
			<% 	buttonopts = Hash.new(:class => "radio")
			   	if(!params[:primary_institution_id].blank? and institution.id == params[:primary_institution_id].to_i)
					checked = "checked"
				else
				    checked = nil
				end
			%>
            <%= radio_button_tag(:primary_institution_id, institution.id, checked, buttonopts) %>
            <label for="primary_institution_id_<%= institution.id.to_s %>"><%= institution.name %></label>
        </li>
    <% end %>
    <!-- add in "other" -->
	<% 	buttonopts = Hash.new(:class => "radio")
	   	if(params[:primary_institution_id].blank?)
			checked = "checked"
		else
		    checked = nil
		end
	%>
    <li><%= radio_button_tag(:primary_institution_id, 0, checked, buttonopts) %>
    <label for="primary_institution_id_0">Other</label></li>
</ul>