<% @page_title = "Send Account Confirmation" %>

<h2>Confirmation email sent!</h2>

<p>In order to confirm your email address and account we just sent an email to:</p>

<p><code class="email"><%= @currentuser.email %></code> <span class="help">(Incorrect address? Please <%= link_to('fix it in your profile', :controller => 'profile', :action => 'edit')%>)</span></p>

<p>The email should arrive within a few minutes. Once you receive it, either click the confirmation link or use the provided token to <%= link_to('confirm your account', :controller => :signup, :action => :confirm) %>.</p>

<p><strong>Thanks for signing up!</strong></p>

<%= render(:partial => 'confirmhelp') %>
