<% @page_title = "eXtensionID Signup Information" %>
<%= render(:partial =>  "partial/flashmessages")%>
<% form_tag({:action=> "new"}, {:id => "signupreadme"}) do %>
    <fieldset>
        <h3>Am I eligible for an eXtensionID?</h3>
        <p>eXtensionID’s are currently limited to individuals closely associated with the U.S. Cooperative Extension system (either those working at a Land-Grant Institution, State college or U.S. Government personnel affiliated with Cooperative Extension), or individuals in Extension-related organizations workings on projects with Cooperative Extension staff.</p>

        <p>If you’re not a part of any of the groups listed above, we invite you to still take advantage of eXtension’s great educational and informational resources and programs.  Just visit <a href="http://www.extension.org">www.extension.org</a>. You’ll have full access to the “best of the best” of the Cooperative Extension System’s vast resources.</p>
        <%- if(!@invitation.nil?) -%>
            <%= hidden_field_tag(:invite, @invitation.token) %>
        <%- end -%>
	    <p><input type="submit" name="go" value="I'm eligible for an eXtensionID, Sign me up!"/> </p>
	</fieldset>
<% end %>


