<% @page_title = "Account Review" %>

<%= render(:partial => 'partial/flashmessages') %>

<h2>Hi <%= @currentuser.first_name %>.</h2>
    
<p>In order to provide a verification of your eligibility for an eXtensionID, your eXtensionID request has been marked for review.  Email addresses that are not part of the ".edu" or ".gov" domains are automatically flagged for review.</p>

<p>If you do have a ".edu" or ".gov" email address, you can speed up the review process by <%= link_to("editing your profile", :controller => '/people/profile', :action => :edit ) %> and setting your registered email address with your ".edu" or ".gov" email address.</p>

<p>If you have any questions about the review process, please don't hesitate to <%= link_to("contact us", :controller => '/people/help', :action => :contactform) %>.</p>