<% @page_title = "Confirm Email Address" %>

<h2>Invalid Token</h2>

<p>The token that you supplied is not valid (it may have expired and been removed from the system).  If you still need to confirm your email address you 
may <%= link_to('generate a new confirmation token', :controller => :account, :action => 'confirmemail', :token => 'send') %></p>