<% @page_title = "Confirm Email Address" %>

<h2>Expired Token</h2>

<p>The token that you were sent in email has expired.  If you still need to confirm your email address you 
may <%= link_to('generate a new confirmation token', :controller => :account, :action => 'confirmemail', :token => 'send') %></p>