<% form_tag(:action=> "set_password") do %>

	<p>Please enter and re-enter what you would like to change your password to:</p>
	<%= hidden_field_tag('token',@token.token) %>

	<p>
	<label for="user[password]" class="field-password">
	    Password
		<%= password_field(:user, :password, :class => 'medsize') %>
	</label>
	</p>

  <input type="submit" name="setpass" value="Set Password" />

<% end %>