<h3>Expired Token</h3>

<p>The token that you were sent in email has expired.  If you still need to set a new password for your eXtensionID - you 
may <%= link_to 'generate a new confirmation token', :action => 'new_password' %></p>	
