<% if @sendmode %>
	<%= render(:partial => 'confirmemail_sent') %>
<% else %>
	<% if @tokeninvalid %>
		<%= render(:partial => 'confirmemail_invalidtoken') %>
	<% elsif @tokenexpired %>
		<%= render(:partial => 'confirmemail_expiredtoken') %>
	<% else %>
		<%= render(:partial => 'confirmemail_confirm') %>
	<% end %>
<% end %>
