<% @page_title = "New Password Request" %>

<h1>New Password Request</h1>
<%= render(:partial => "partial/flashmessages") %>
    
<% if @sentmail %>
<%= render(:partial => 'newpass_result') %>

<% else %>
<%= render(:partial => 'newpass_form') %>
<% end %>
