<% @page_title = "Set New Password" %>

<h2>Set New Password</h2>
<%= render(:partial => "partial/flashmessages") %>

<% if @notoken %>
	<%= render(:partial => 'setpass_confirm') %>
<% elsif @tokenexpired %>
	<%= render(:partial => 'setpass_expiredtoken') %>
<% else %>
	<%= error_messages_for 'requestuser' %>
	<%= render(:partial => 'setpass_form') %>
	
<% end %>

