<ul id="nav">
	<li><%= link_to "Numbers Home", :action => 'index' %></li>
	<li><%= link_to "by Location", :action => 'browse', :browselist => 'locations' %></li>
	<li><%= link_to "by Position", :action => 'browse', :browselist => 'positions' %></li>
	<li><%= link_to "by Community or Institution", :action => 'browsecommunities' %></li>
</ul>
<br class="clear"/>