<% @page_title = "eXtension People - Daily Numbers" %>
<% @selected_tab = :numbers %>

<h1>Daily Number Summaries</h1>
<p>We are currently in the process of moving the daily summary data to another location, please bear with us through the transition!</p>