<!-- This file lives in views/shared/404.rhtml -->

<!-- Article, Right Column -->
<div class="row">
	<!-- Article -->
	<div class="span9">
	  <div id="page404">
		<h1>We're sorry - Page not found</h1>
		<div class='infobar bordered'>
		</div>
		
		<div id="article_content">
		  <% if @missing %>
        <p>The requested page <strong><%= @missing %></strong> was not found on our server.</p>
      <% end %>

      <p>The page address may have been typed incorrectly or the page may have been removed.</p>

      <%- if !@missing_message.nil? -%>
         <p><strong>Additional Information:</strong></p>
         <p><%= @missing_message %></p> 
      <%- end -%>
		</div>
		</div>
		<p id="photoattribution"><a href="http://creativecommons.org/licenses/by-sa/2.0/deed.en">CC</a> photo attribution: <a href="http://www.flickr.com/photos/mahalie/571097015/">http://www.flickr.com/photos/mahalie/571097015/</a>
  </div>
  
  <div class="span3">
    <%= render(:partial => 'shared/social_and_locations_general') %>

    <div class='row'>
      <div class='latest-tweets span3'>
        <h2>Latest Tweets</h2>
        <%= render(:partial => 'shared/twitter_timeline_general') %>
      </div>
    </div>
    
    <div class='row'>
      <div class="upcoming_learn_events span3 clearfix">
        <script type="text/javascript" src="https://learn.extension.org/widgets/front_porch.js"></script>
      </div>
    </div>
    
  </div>
</div>
