<h1>We're sorry - Page not found</h1>

<% if @missing %>
<p>The requested page <strong><%= @missing %></strong> was not found on our server.</p>
<% end %>

<p>The site address may have been typed incorrectly or the page may have been removed for some reason.</p>

<p>Visit the <a style="text-decoration: underline;" href="/">eXtension home page</a>.</p>
