<!-- AddThis Button BEGIN - desktop only -->
<div class="addthis_toolbox addthis_default_style pull-right visible-desktop noprint">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51d4654b1c82f32e"></script>
<!-- AddThis Button END -->

<!-- AddThis Button BEGIN - hidden on desktop -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style pull-right hidden-desktop noprint">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_pinterest_share"></a>
<a class="addthis_button_google_plusone_share"></a>
</div>
<!-- AddThis Button END -->