<%- if @community and @community.public_name -%>
    <div id="homage">
        <p>This resource area was created by the: <span> <%= homage_link(@community) %> community</span></p>
    </div>
    <div class = "homagepic">
        <%= render_inline_logo({:logo => @community.logo})%>
    </div>  
<%- end -%>