<% if @community && @community.is_launched? %>
    <div id="homage">
        <p>This resource area was created by the: <span><%= @community.homage ? link_to(@community.homage_name, @community.homage.id_and_link) : link_to_public_community(@community) %> community</span></p>
    </div>
    <div class = "homagepic">
        <%= render_inline_logo({:logo => @community.logo})%>
    </div>  
<% end %>