<% if @community && @community.is_launched? %>
    <div id="homage">
        <p>This resource area was created by the: <span><%=@homage ? @homage.content : link_to_public_community(@community) %> community</span></p>
    </div>
    <div class = "homagepic">
        <%= render_inline_logo({:logo => @community.logo})%>
    </div>  
<% end %>