<div id="multipicker">
  <h3><strong>Welcome!</strong> What's your local institution?</h3>
  <ul>
    <% institutions.each{ |inst|  %>
    <li><%=link_to inst.name, set_institution_path(:institution_id => inst.id) %></li>
    <% } %>
  </ul>
</div>
<script type="text/javascript">
if ($('institution_picker')!=null) {
  Effect.BlindUp('institution_picker', {duration: .4});
}
</script>