<div id="outsideus">
    <h2>Welcome</h2>
    <p>eXtension is an interactive learning environment delivering the best, most researched knowledge from the smartest land-grant university minds across America.</p>
    <p><%= link_to_function 'Find a U.S. Institution', "Effect.toggle('institution_picker','blind', { duration: .4}); setTimeout(set_select_focus, 500);", :class => "sample" %></p>
</div>
<script type="text/javascript">
Effect.BlindUp('institution_picker', {duration: .4});
</script>
