<h1>Resource Area Newsletter</h1>
<% link = "http://app.bronto.com/public/webform/render_form/haakylawn9fri0ju43e5kgcp0om81/9792410c1e94e49024f9ea9dfdc6364c/addcontact" %>
<ul>
  <li><a href="<%= link %>" title="parenting newsletter">Sign up for the newsletter</a></li>
</ul>