<h1>Resource Area Newsletter</h1>
<% link = "http://app.bronto.com/public/?q=landingpage&fn=Mail_LandingPage_Link&id=ej0gmuynoqeqzgv5r65d9xsdsz7aa&page=subadd&type=p&ssid=9318" %>
<ul>
  <li><a href="<%= link %>" title="parenting newsletter">Sign up for the newsletter</a></li>
</ul>