<% form_tag do %>
    <fieldset class="resource_selector">
        <p>
            <%=community_select(@community)%> <%= link_to 'Show All', {:content_tag => 'all'} %> 
        </p>
    </fieldset>
<% end %>