<h1>Our Sponsors</h1>

<% sponsorlist.each do |sponsor| %>
  <div class="sponsorlogo">
	<% if !sponsor.nil? and !sponsor.logo.nil? %>
		<%= render_inline_logo(sponsor.logo) %>
	<% end %>
  </div>
<% end %>

<p class="readmore">
  <%=link_to 'Read more about our sponsors...', :controller => 'main', :action => 'sponsors' %>
</p>