<% if @question.status == 'rejected' %>
  <p>Your question has been declined by one of our experts. The expert's explanation is below.</p>
<% end %>

<h3>Question</h3>
<p><%= @question.asked_question %></p>
<br />

<% if @question.status == 'rejected' %>
  <h3>Expert's Explanation</h3>
  <p><%= @question.reject_message %></p>
<% else %>
  <h3>Answer</h3>
  <p><%= @question.answer %></p>
<% end %>

<br /><br />
<%= link_to '< back', :action => 'view_questions'%>
