<div id="container">
  <p id="notice"><strong>Your eXtension AaE status is set to "Vacation Status"</strong> </p>
  <p id="actions">
    <%= link_to("Turn off your AaE vacation status") %> <%= link_to "View settings", :controller => '/aae/prefs' %>
  </p>
  <br class="clearing"/>
</div>