<div id="container">
  <p id="notice"><strong>Your eXtension account status is set to "Away"</strong> </p>
  <p id="actions">
    <%= link_to("Turn off your away status") %> <%= link_to("View settings") %>
  </p>
  <br class="clearing"/>
</div>