<div id="footer">
    <p><a href="http://getsatisfaction.com/extension/products/extension_people">Get Satisfaction</a> | <%= link_to("Contact Us", :controller => 'help', :action => 'index') %> | <%= link_to("Terms of Use","http://www.extension.org/main/termsofuse") %> | version <%= "#{AppVersion.version}" %></p>
</div>