<%- flash.each do |type,message| -%>
  <div class='<%= bootstrap_alert_class(type) %> fade in'>
    <a class='close' data-dismiss="alert" href='#'>×</a>
    <p><%= message %></p>
  </div>
<%- end -%>
