<%- learn_category = learn_category ? learn_category : "" -%>

<!-- Learn -->
<script type="text/javascript">
(function() {
  function async_load(){
    var ex_learn = document.createElement('script'); ex_learn.type = 'text/javascript'; ex_learn.async = true;
    ex_learn.src = "https://learn.extension.org/widgets/events.js?widget_key=exlw-a4616d92&limit=5&tags=<%= learn_category -%>";
    var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ex_learn, s);
  }
  if (window.attachEvent)
    window.attachEvent('onload', async_load);
    else
      window.addEventListener('load', async_load, false);
    })();
</script>
<div id="exlw-a4616d92"></div>
<!-- Learn -->
