<div class="usda-nifa">
  <p><%= image_tag("/assets/usda-nifa.png", :alt => 'USDA / NIFA', :title => 'USDA / NIFA')%></p>
  <p>This work is supported by the USDA National Institute of Food and Agriculture, New Technologies for Ag Extension project.</p>
  <p class="cooperative-extension-logo"><%= image_tag("/assets/cooperative_extension.png", :alt => 'Cooperative Extension', :title => 'Cooperative Extension')%></p>
</div>
