<% if !countylist.nil? and !countylist.empty?%>
	<p>
	    <label for="user_county_id">County:</label>
			<%= select(:user, :county_id, countylist.map {|c| [c.name,c.id]},{ :include_blank => true }) %>
	</p>
<% end %>
