<p><%= link_to_remote("#{user.communities.institutions[0].name } (edit)", {:url => {:controller => '/people/profile', :action => :editinstitution}, :method => :post}, :title => "Edit Institution") %></p>
