<h3>My Interests <%= link_to "edit", :controller => 'profile', :action => 'tagedit' %></h3>

<% if !@currentuser.tags.empty? %>
    <div class="tag_cloud">
        <ul> 
            <% @currentuser.tags.each do |tag| %>
              <li><%= link_to(tag.name,:controller=> :colleagues, :action => :tags, :taglist=>tag.name) %></li>
            <% end %>
        </ul>
    </div>
<% else %>
    <div class="instructions">
        <p>You haven't listed your interests yet</p>
    </div>
<% end %>