<% @page_title = "Account details" %>
<% @selected_tab = :my_profile %>

<%= render(:partial => 'partial/flashmessages') %>

<div id="profile">

	<%= render(:partial => 'navtabs', :locals => { :selected => 'account' }) %>

<h1>Account Summary</h1>

<%= render(:partial => 'user_info') %>

</div>
