<% @page_title = "My Profile - Additional Emails" %>
<% @selected_tab = :my_profile %>

<h1>Additional Email Addresses</h1>
<div class="instructions">
    <p>If you use different email addresses for different mailing lists, you can get all your information in one place by listing your other email addresses here. We'll associate them with this account and cut down on the confusion. These emails are not displayed publicly.</p>
</div>
<% form_tag(:action=> "otheremails") do %>
	<div id="useremails">
		<p><%= add_otheremail_link("Add an email address") %></p>
   	  	<%= render :partial => 'user_email', :collection => @currentuser.user_emails %>
	</div>
    <p class="submit"><%= submit_tag 'Save Changes' %>  or <%= link_to 'Cancel', :controller => '/people/profile', :action => :me %></p>
<% end %>