<% @page_title = "Questions Marked as Spam" %>
<% @help_title = "Questions Marked as Spam" %>

<%= render(:partial => "aae/partial/submitted_questions") %>

<% if @submitted_questions.length == 0 %>
    <div class="noresults">
    <h3>There are no incoming questions <strong>that match your question filter</strong>:
    
    <% if !@category and !@location and !@county %>
        <h3><strong><%= @filter_string %></strong></h3>
    <% else %>
        <% if @category == Category::UNASSIGNED %>
             <h3><strong><%= @filter_string %></strong></h3>
        <% else %>
             <h3><strong><%= @filter_string %></strong></h3>
        <% end %>
    <% end %>
    </h3>
    <p>(You can change this filter using the question filter on the right)</p>
    </div>
<% end %>