<% @page_title = "Select a Report" %>

<div id="report_home">
    <p id="activity_report">All Reports</p>
    <h1>Select a Report</h1>

    <h2>Ask an Expert Activity</h2>
    
    <ul>
        <li><%= link_to " General Overview",  {:action => 'activity'}, {:class => 'report_doc'} %>,
	    <%= link_to "by State", { :action => 'activity_by_state', :FromDate => @dateFrom, :ToDate=> @dateTo}  %>, 
		<%= link_to "by Institution", {:action => 'activity_by_institution', :FromDate => @dateFrom, :ToDate=> @dateTo}%>, 
		<%= link_to "by Tag", { :action => 'sel_active_cats', :FromDate => @dateFrom, :ToDate=> @dateTo } %></li>
	   
       
    </ul>
	
 
</div>