<% @page_title = 'Admin Access Required' %>

<div>
  <h1>Admin Access Required</h1>
  <p>In order to use the functionality requested, you must sign in to <a href="https://people.extension.org/">people.extension.org</a> with an account that has administrative privileges.</p>
  <p>If you need assistance, please don't hesitate to contact us.</p>
  <p>We use an Ask an Expert widget to handle questions.</p>

  <iframe style='border:0' width='100%' src='http://ask.extension.org/widget/tracking/7ae729bf767d0b3165ddb2b345491f89533a7b7b' height='400px'></iframe>

</div>

