<% @title_tag = "The Ask an Expert Widget Page has Moved" %>

<h1>The Ask an Expert Widget Information and Creation Site has Moved</h1>

<h2>The new location is at <a href="http://widgets.extension.org">widgets.extension.org</a></h2>

<div class="postit">
    <p class="last">If you bookmarked <strong>ask.extension.org</strong>, please update your bookmark to <strong>widgets.extension.org</strong>. Thanks!</p>
</div>

<p class="logo"><img src="/images/common/extension_logo_small.gif"></p>