<table class="list_stats" cellspacing="0" summary="Posting Summary">
	<th>List</th>
	<th>Messages</th>
	<th>Size</th>
	<% listoflists.each do |list_id,messages,size| %>
		<%- list = List.find_by_id(list_id) -%>
		<%- if list -%>
		<tr>
			<td><%= link_to_mailinglist(list)%></td>
			<td class="bignumber"><%= messages %></td>
			<td><%= number_to_human_size(size) %></td>
		</tr>
    <% end %>
  	
	<% end %>
</table>