<% @selected_tab = :about %>

<h2>About Ask eXtension</h2>

<p>Ask.eXtension.org is the place to get the Ask eXtension widget.</p>

<p><img alt="the Ask Extension widget" src="/images/ask/ask-widget-small.png" /></p> 

<p>The widget enables county Extension offices to manage and answer questions asked by their local constituents. The widget works in conjunction with the eXtension FAQ/Ask an Expert site.</p>

<h3>How it works</h3>

<div id="ask-to-aae">
    <h4>Using the Ask eXtension Widget</h4>
    <ol>
        <li>Get the widget</li>
        <li>Accept questions at your site</li>
        <li class="last">Answer using the <em>Ask an Expert</em> tool in FAQ</li>
    </ol>
    <img alt="diagram showing how the Ask widget is added to a site and questions from the widget are answered at the eXtension FAQ/Ask and Expert application" src="/images/ask/ask_diagram.png" />
</div>


<p>County Extension offices place the Ask eXtension widget on their local site. When a public user submits a question, it's routed to experts and Extension agents working in the eXtension FAQ/Ask and Expert application and they respond to the public user from there.</p>

<p>Ready to accept questions to your site? <%= link_to "Get the Ask eXtension widget for your site", :controller => 'widgets/aae', :action => :new %></p>



