<% @selected_tab = :about %>

<%= render(:partial => 'aae_widget_nav') %>

<div id="article">

<h2>About the Ask an Expert Widget</h2>

<p><img alt="The Ask an Expert widget" src="/images/ask/ask-widget-small.png" /></p> 

<p>The widget enables groups working with Cooperative Extension including county offices to manage and answer questions asked by their clientele. The widget works in conjunction with the eXtension Ask an Expert system.</p>

<h3>How it works</h3>

<div id="ask-to-aae">
    <h4>Using the Ask eXtension Widget</h4>
    <ol>
        <li>Create a widget</li>
        <li>Accept questions at your site</li>
        <li class="last">Answer using the Ask an Expert System</li>
    </ol>
    <img src="/images/ask/ask_diagram.png" alt="diagram showing how the Ask widget is added to a site and questions from the widget are answered at the eXtension FAQ/Ask and Expert application">
</div>

<p>Groups involved with Cooperative Extension place the Ask eXtension widget on their Extension-related site. When someone submits a question, it's routed to experts and Extension agents in the Ask an Expert application who respond to the question submitter from there.</p>

<p>Ready to accept questions to your site? <%= link_to "Get the Ask eXtension widget for your site", :controller => 'widgets/aae', :action => :new %>. <% if !@currentuser %>(sign-in required)<% end %></p>

</div>