<% @selected_tab = :documentation %>

<%= render(:partial => 'aae_widget_nav') %>

<div id="article">

<h2>Ask Widget Documentation</h2>

<h3>Installing the widget</h3>
<p>To add the widget to your site, you need to add the line of code to your website html where you want the widget to appear. <%= link_to "Generate your widget code now", :controller => 'widgets/aae', :action => :new %></p>


<p>After you add the code, the following widget will display. The width will resize to fit narrow and wide layouts. The height is 300px by default, and this can be edited when installed on your site.</p>
    
<img alt="The Ask an Expert widget" src="/images/ask/ask-widget-small.png" />

</div>