<% @selected_tab = :who %>

<%= render(:partial => 'aae_widget_nav') %>

<div id="article">

<h2>Who answers the questions?</h2>

<p>Questions are answered by Cooperative Extension agents, staff and professionals from around the country who have volunteered to work in the eXtension Ask an Expert system. In particular, questions from a widget are routed to those agents in the AaE system signed up to receive questions from a widget.</p>

<h3>Here's what happens to a question</h3>
<ol>
    <li>A question is submitted from an Ask an Expert widget</li>
    <li>The question shows up in the <%= link_to "Incoming Question list", incoming_url %> <em>(eXtensionID required)</em></li>
    <li>The question is automatically assigned to an expert from that widget's pool of experts*. An assignment email is sent to the expert.</li>
    <li>The question is answered and the response is emailed. Alternately, if the expert can't answer the question, it can be reassigned to someone else.</li>
</ol>
<p>* Widgets need to have experts signed up to take responsibility for its questions. eXtension recommends <strong>at least two experts</strong> sign up for each widget.</p>
<p>If no one has signed up for a widget, the question is assigned to a Question Wrangler, individuals who have volunteered to handle and route orphaned questions. However, if no one is signed up, the widget should be removed from any sites and deactivated in the system.</p>
</div>