<h1>Assignment Dashboard</h1>

<table cellspacing="0">
    <tr>
        <th>Question</th>
        <th>Question Age</th>
        <th>Assigned to</th>
        <th>Length assigned</th>
        <th>Completions</th>
        <th>Avg response</th>
        
        <th>Most recent action</th>
    <tr>
        
    <% @submitted_questions.each do |sq| %>
        <tr>
            <td><%= sq.id %></td>
            <td><%= time_ago_in_words(sq.created_at) %> ago</td>
            <td><%= (sq.assignee) ? link_to(sq.assignee.login, aae_profile_url(:id => sq.assignee.login)) : "<span>nobody</span>" %></td>
            <td><%= (sq.assignee and (assign_date = sq.assigned_date)) ? time_ago_in_words(assign_date) : ""%></td>
            <td>[Completions]</td>
            <td>[Avg response]</td>
            <td>[Most recent action]</td>
        </tr>
    <% end %>    
</table>