<% if users.length == 0 %>
    <p><span class="alert">There are no matching experts.</span></p>
<% else %>
<h4>Matching Experts</h4>
<ul>
    <%= render(:partial => "expert_profiles", :locals => {:users => users, :handling_counts => handling_counts}) %>
</ul>
<!-- contents of 'more_experts' gets appended to when the link to get more experts is clicked. -->
<div id='more_experts'>
</div>

<!-- initially, the next page number will always be 2, div containing more experts link gets replaced each time it's clicked -->
<div id='more_experts_link'>
    <% if (defined?(more_experts_to_come)) and (more_experts_to_come) %>
      <p><br /><strong><%= link_to_remote 'Show more matching experts', {:url => {:controller => 'aae/search', :action => 'get_more_experts_by_cat_loc', :page_number => 2, :location_id => location ? location : nil, :county_id => county ? county : nil, :category_id => category ? category : nil}, :loading => "Element.show('loading_experts')", :complete => "Element.hide('loading_experts')"} %></strong> <img alt="loading experts" id="loading_experts" src="/images/common/spinner.gif" style="display:none;" /></p>
    <% end %>
</div>

<% end %>

