<div id="assignUser">
    <p class="close"><%= link_to_function 'close', "Effect.toggle('assignUser','blind', { duration: .4});" %></p>
<% form_tag :controller => 'aae/question', :action => 'assign', :id => @submitted_question.id do %>
    
        <h3>Search for a user</h3>
        
        <div id="user_selector">
            
            <p><label>Type a name...</label><%= text_field_tag :assignee, nil, { :autocomplete => "off" } %></p>
            
            <%= observe_field(:assignee, :frequency => 0.6, :url => { :action => 'assignees_by_name' }, :with => "'login=' + value", :loading => "Element.show('loading')",
            :complete    => "Element.hide('loading')") %>
        </div>
        
        <div id="user_list">
            <div id="loading" style="display:none"><img src='/images/loading.gif' /><p>Loading...</p></div>
        </div>
            
        <br class="clear" />
<% end %>
</div>