<%- if @counties -%>
  <%= '<label>County' if @show_label -%>
    <%= select_tag "county_id", options_for_select([['', '']].concat(@counties.map{|c| [c.name, c.id]})) %>
  <%= '</label>' if @show_label -%>
<%- end -%>
