<span id="relatedresources">Related resource areas: 
<%= community_tags.collect{|tag| tag.content_community }.uniq.compact.collect { |community| link_to_community(community) }.join(', ')  %>
</span>
