<% form_tag do %>
    <fieldset class="resource_selector">
        <p>
            <%=community_select(@category.content_community)%> <%= link_to 'Show All', {:category => 'all'} %> 
        </p>
    </fieldset>
<% end %>