<h2>Category List for <%= @category_string %></h2>
<p>Category listings are not available in preview.  You can <a href="/category/<%= @category_string %>">browse published content for this category</a> instead.</p>