<% @page_title = "eXtension Learn" %>
<div id="home">
<section>
   <h2>Upcoming Events</h2>
   
</section>


<section>
   <h3>Recent Sessions</h3>
</section>


<section>
   <h3>Browse by recent tags</h3>
   
   <aside>
      <ul>
         <li>Subscribe to a feed of PD recordings</li>
         <li>How to participate in eXtension professional development</li>
         <li>Get email announcements</li>
      </ul>
   </aside>
</section>
</div>