<% @users.each do |user| %>
  <%= user.fullname %> 
  <%= link_to_remote("Add to presenters", {:url => {:controller => :learn, :action => :add_to_presenters, :user_id => user.id}, :loading => "Element.show('loading_presenters_#{user.id}')", :complete => "Element.hide('loading_presenters_#{user.id}')"}) %>
  <span id="loading_presenters_<%= user.id %>" style="display:none"><img src='/images/loading.gif' /></span><br />
<% end %>

<br /><br />