<div id="widget_builder">
    <h2>Customize Your Content Widget</h2>
    
</div>

<div id="example_widget">
<script type="text/javascript" src="<%= url_for :controller => 'widgets/content', :action => :show, :escape => false, :tags => 'horses,horticulture', :quantity => 5, :type => 'faqs' %>"></script>
</div>

<br class="clearing" />