<h4><%= title %></h4>
<% if listoftags.blank? %>
    <p>No popular tags yet.</p>
<% else %>
    <ul class="select_tags_for_edit">
    <% listoftags.each do |tag| %>
        <li><%= link_to_function "#{tag.name}<span>(#{tag.frequency})</span>", "addTagsToList($('tag_list'), '#{tag.name}')" %></li>
    <% end %>
    </ul>
<% end %>