<h4><%= title %></h4>
<% if listoftags.blank? %>
    <p>No tags yet.</p>
<% else %>
    <ul class="select_from_tags">
    <% listoftags.each do |tag| %>
        <li><%= link_to_function "#{tag.name}<span>(#{tag.frequency})</span>", "addTagsToList($('taglist'), '#{tag.name}')" %></li>
    <% end %>
    </ul>
<% end %>