<% if @community.lists.blank? %>
	<p>No lists have been created for this <%= @community.viewlabel %>.</p>
<% else %>
<ul class="mailing_lists">
	<% @community.lists.each do |mailinglist| %>
		<li>
		    <span class="mailto"><%= link_to(mailinglist.name, people_list_url(mailinglist), :title => mailinglist.name) %><em></em></span>
		    <%= mailinglist.communityconnection_to_s %>
		</li>
	<% end %>
</ul>
<% end %>
