<div id='source_tooltip' style="display:none;" class="tooltip">
	<p id="tooltip_hook">
	<% if showtip[:wantstojoin]%>
    <strong>Indicating a desire to join:</strong> Tell this group you want to join the community as an active member. If the community is moderated then members must be invited or approved by a Community Leader.<br/><br/>
	<% end %>
	<% if showtip[:interest]%>
	<strong>Indicating an interest in the community:</strong> Tell this group that you are interested in keeping up with the community, but don't want to join as an active member at this time.<br/><br/>
	<% end %>
	<% if showtip[:nointerest]%>
<strong>Not interested:</strong> You are not interested in this commmunity.  The community won't be recommended as a community you may be interested in, but you still can be invited to join the community.<br/><br/>
	<% end %>
	</p>
</div>
<script type="text/javascript">
  var my_tooltip = new Tooltip('source_trigger', 'source_tooltip')
</script>