<% form_tag({:controller => "communities", :action=> "findcommunity"}, {:id=>"comm_search"}) do %>
<fieldset >
    <p>
        <label for="q">Find a Community or Institution</label>
        <input type="text" name="q" id="q" />
        <%= submit_tag('Search') %>
    </p>
</fieldset>
<% end %>
