<% form_tag({:action=> "findcommunity"}, {:id=>"comm_search"}) do %>
<fieldset >
    <p>
        <label for="q">Find a Community</label>
        <input type="text" name="q" id="q" />
        <%= submit_tag('Search') %>
    </p>
</fieldset>
<% end %>
