<% if @community.shared_tag_list.size > 0 %>	
    <div class="tag_cloud">
        <ul> 
            <% @community.shared_tag_list('all').each do |tag| %>
              <li><%= link_to(tag.name, :controller=> :communities, :action => :tags, :taglist=>tag.name)%></li>
            <% end %>
        </ul>
    </div>
    <br class="clearing"/>
<% end %>
