<h1>Invite People to <%= @community.name %></h1>
<ul id="nav">
<li><%= link_to("#{@community.name}", @community)%></li>
<li></li>
<li></li>
</ul>
<br class="clear"/>
<%= render(:partial => 'xhr_finduser_form') %>

<div id="invitelist" class="section">
	<%= render(:partial => 'invite_user_list', :locals => { :userlist => @userlist, :community => @community, :searchterm => @searchterm}) %>
</div>