<div class="multi_col_list">
<% 
       list_count = 1
       item_count = 0
       column_limit = (linkobjectlist.length / 3) + 1
   %>
   <% linkobjectlist.each do |linkobject| %>
        <%= (item_count == 0) ? '<ul class="alpha_sort col1">' : '' %>
        <li><span class="syndication"><%= link_to_object_action(linkobject)%></span></li>
        <%
            item_count += 1
            if item_count > linkobjectlist.length
                %></ul><%
            elsif (item_count % column_limit) == 0
                list_count += 1 %>
                </ul>
                <ul class="alpha_sort col<%= list_count %>"><% 
            end
        %>
    <% end %>
</ul>
</div>