<h3>Expired Token</h3>

<p>The admin token that you were sent in email has expired and has been removed from the system. Please perform your <%= link_to 'administrative operation', :action => 'index' %> again to generate a new confirmation token.</p>
