<h3>Revocation Failed!</h3>

<p>The revocation operation failed.  Please try your revocation operation again or contact eXtensionHelp for assistance.</p>

<p>
  <%= link_to 'Admin Home', :action => :index %> | <%= link_to 'Show user record', :action => :showuser, :id => @revokeuser.login %> 
</p>