<% @page_title = "Admin - Revocation Request Confirmation" %>
<% @selected_tab = :admin %>

<h3>Revocation request confirmation email sent!</h3>

<p>Hi, <%= @currentuser.first_name %>.  A confirmation email for the Contributor Agreement revocation request for <%= @revokeuser.first_name %> <%= @revokeuser.last_name %> (<%= @revokeuser.email %>) has been sent to you.</p>

<p>You have <%= AppConfig.configtable['token_timeout_revokeagreement'] %> hours to confirm the revocation request, after which the token will expire, and you will need to initiate the process again.</p>

<p>Once you receive your confirmation email, you can click the link in the email, or <%= link_to 'provide the confirmation token', :action => 'revoke_agreement' %></p>