<% @page_title = "Admin - Fix Email" %>
<% @selected_tab = :admin %>

<% form_tag(:action=> "fixemail") do %>
  <%= hidden_field_tag('id',@showuser.login) %>
  <label for="fixuser_email">New Email Address
  <%= text_field_tag('email',@showuser.email,:class => "medsize") %>
  </label>
  <%= submit_tag 'Fix Email' %>
<% end %>

<%= render(:partial => 'people/common/showuser_profile', :locals => {:showuser => @showuser}) %>

<p>
    <%= link_to 'Admin Home', :action => :index %>
</p>