<% @page_title = "Admin - OpenID Usage" %>
<% @selected_tab = :admin %>

<h2>OpenID Approvals</h2>

<table class="general" cellspacing="0">
	
	<% @opieapprovals.group_by(&:user).each do |showuser,approvals| %>
		<% next if showuser.nil? %>
		<tr>
    		<td><%= link_to showuser.login, :action => 'showuser', :id => showuser.login %></td>
            <td><%= approvals.length %></td>
		</tr>
	<% end %>
</table>

<p>
    <%= link_to 'Admin Home', :action => 'index' %>
</p>