<ul id="nav">
	<li><%= link_to "Invitations Home", :action => 'index' %></li>
	<li><%= link_to "Your Invitations", :action => 'mine' %></li>
	<li><%= link_to "Send an Invitation", :action => 'new' %></li>
</ul>
<br class="clear"/>