<h2>Exploring eXtension</h2>
<ul>
    <li><%= link_to('eXtension Communities of Practice','http://cop.extension.org', {:class => "secure"}) %></li>
    <li><%= link_to('Ask an Expert','http://aae.extension.org/', {:class => "secure"}) %></li>
    <li><%= link_to('Widgets','http://www.extension.org/widgets') %></li>
    <li><%= link_to('FAQs App','http://cop.extension.org/faq', {:class => "secure"}) %></li>
    <li><%= link_to('Events App','http://cop.extension.org/events/', {:class => "secure"}) %></li>
    <li><%= link_to('One Search','http://www.extension.org/search') %></li>
    <li><%= link_to('Professional Development Opportunities','http://www.extension.org/learn') %></li>
	  <li>Learn more about eXtension via at <%= link_to('About eXtension','http://about.extension.org') %> and <%= link_to('eXtension Create','http://create.extension.org/') %>.</li>
    <li>The <%= link_to('eXtension Public Site','http://www.extension.org') %> produced by our Communities of Practice working in our publishing tools</li>
</ul>