<h2>Exploring eXtension</h2>
<ul>
    <li>Learn more about eXtension via at <%= link_to('About eXtension','http://about.extension.org') %> and <%= link_to('eXtension Create','http://create.extension.org/') %>.</li>
    <li>Explore the content at <%= link_to('eXtension.org','http://www.extension.org') %> produced by our Communities of Practice.</li>
    <li>See the public courses available at <%= link_to('eXtension campus','http://campus.extension.org', {:title => "eXtension Campus"}) %>.</li>
	<li>Interact with the public and answer questions at <%= link_to('Ask an Expert','http://aae.extension.org/', {:title => "Ask an Expert - Requires eXtensionID"}) %>.</li>
    <li>Learn how to add content and ask an expert to your web sites via <%= link_to('Widgets','http://www.extension.org/widgets') %>.</li>
    <li>Search all of Extension through <%= link_to('Extension Search','http://www.extension.org/search') %>.</li>
    <li>Find professional development opportunities through <%= link_to('Learn',AppConfig.configtable['learn_site']) %>.</li>
</ul>