<div class="feedback_banner warning">
    <h6>You have not reviewed the eXtension Contributor Agreement.</h6>
    <p>You need to do so in order to contribute or edit content in the eXtension collaborative publishing tools. <%= link_to("Review the Contributor Agreement", :controller => 'account', :action => 'contributor_agreement') %></p>
</div>