<div class="feedback_banner warning">
    <h6>You haven't told us about your institution, location, and position!</h6>
	<p>Help us to serve you better and <%= link_to("edit your profile", :controller => 'profile', :action => 'edit') %> with this additional information!</p>
</div>