<div class="feedback_banner warning">
    <h6>You haven't told us yet about your interests and areas of expertise!</h6>
	<p>Help us to build out our national database of our staff expertise and <%= link_to("tell us about your interests and expertise", :controller => 'profile', :action => 'tagedit') %></p>
</div>