<div class="feedback_banner warning">
    <h6>You have not confirmed your email address.</h6>
    <p>You need to do so in order to access other eXtension services.
    <br /><%= link_to("Confirm Your Email Address", :controller => :account, :action => :confirmemail) %>
    </p>	
</div>