<div class="feedback_banner warning">
   <h6>Your account is currently waiting for an account review.</h6>
   <p>Learn more about <%= link_to("account reviews", :controller => 'account', :action => "review")%>, including how you can speed up the process.</p>
</div>