<div class="feedback_banner warning">
    <h6>Your email address is invalid.</h6>
    <p>Your email address likely contains a typo or has been retired by your service provider.<br/>
      You will need to <%= link_to("edit your profile", :controller => '/people/profile' :action => :edit %> and enter a valid email address to access eXtension services</p>
</div>