<ul class="users">
    <% @user_list.each do |user| %>
    <li>
    <%= link_to user.fullname + get_aae_symbols(user, @question_wrangler_ids, @auto_router_ids), aae_profile_url(:id => user.login) %>
    </li>
    <% end %>   
            
    <% if @user_list.length > 0 %>        
    <br></br>
    <p>* = Volunteers receiving auto-routed questions</p>
    <p>+ = Volunteers dealing with uncategorized questions</p> 
    <% end %>
</ul>