<% @page_title = "Select State for State Report" %>

<p id="state_report"><%= link_to "All Reports",  :controller => 'aae/reports' %> &gt; <%= @page_title %></p>

<!-- <h1>State Report</h1> -->

  
    <% form_tag({:controller => 'aae/reports', :action => :state }, {:method => "get"}) do %>
     
  
	<h2>Select State or Territory</h2>

	<% options_array= Array.new%>
	<% Location.find(:all).each do |stobj|
	      options_array << stobj.name
	 %>      
	<% end %>
	<%options_array.insert(0, "")%>
	  <label>State or Territory</label>

	       <select name="State">


		 <%= options_for_select(options_array) %>
	      </select><br /><br />




	<p>

	    <%= submit_tag "Enter" %>
	</p>
	<% end %>
	
	