<% @page_title = "Questions Submitted by #{@submitter.fullname} (#{@submitter.id})" if !@page_title %>

<%= render(:partial => "aae/partial/submitted_questions") %>

<% if @submitted_questions.length == 0 %>
    <div class="noresults">
        <h3>There are no questions that match your question filter</h3>
        <p>(You can change your filter settings on the right)</p>
    </div>
<% end %>