<div id="article">
<h1>Example Graphs</h1>

<p>Beginning October 17, 2012, the internal data feed for the activity graphs has been removed in anticipation of the Ask an Expert 2.0 transition, the Ask an Expert graphs will return to either <a href="http://ask.extension.org">Ask 2.0</a> website or <a href="http://data.extension.org">data.extension.org</a></p>
</div>