<h1>Reports</h1>

<h3>Published Item Count</h3>
<p>Please visit <a href="http://data.extension.org">data.extension.org</a> for publishing data and page analytics.</p>

<h3>Additional Reports</h3>
<ul>
<li><%= link_to "People and Communities", :controller => "people/numbers", :action => "index"%></li>
<li><%= link_to "Learn Reports (requires login)", 'https://learn.extension.org/data' %></li>
</ul>
