<% @page_title = "Ask an Expert Expertise Categories" %>

<a name="top"></a>

<%= render(:partial => "partial/flashmessages") %>

<br class="clear"/>

<h2>Ask an Expert Expertise Categories</h2>
<p>This list of categories is presented to experts for selecting Areas of Expertise preferences, and for (optionally) displaying on the Ask form at www.extension.org for category matching for routing questions.</p>
    
<div id="areas_of_expertise">
  <ul id="expertiselist">
    <% @categories.each do |category| %>
      <%- if @current_user_categories.include?(category) -%>
        <li id="expertisecategory_<%= category.id %>" class="highlight">
      <%- else -%>
        <li id="expertisecategory_<%= category.id %>">
      <%- end -%>
        <%= render(:partial => "category_listitem", :locals => {:showcategory => category}) %>
      </li>
    <%- end -%>
  </ul>
</div>


<br class="clear"/>