<h1>Location: <%= @location.name %></h1>
<table id="aoe_table">
    <tr>
        <th>User</th>
        <th>Accepts questions?</th>
        <th>Can receive auto-routed questions?</th>
    </tr>
<% @users.each do |user| %>
    <tr>
        <td><%= link_to (user.fullname, aae_profile_url(:id => user.login), {:class => "profile"}) %></td>
        <td><%= user.aae_responder? ? 'yes' : 'no' %></td>
        <td><%= user.is_aae_auto_router? ? 'yes' : 'no' %></td>
    </tr>
    
<% end %>
</table>