<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<head>
  <meta charset="utf-8" />

	<title><%= @page_title %></title>

	<style type="text/css" media="all">
    <!--
    body {font-family: Arial, Helvetica, sans-serif;color: #222; background: #bbb;}
    #content {background:#fff;width:40em;margin:3em auto;padding:1.2em;border:3px solid #999;}
    h1 {margin:0 0 .5em;padding:0;color:#e87d1d;font-weight:normal;}
    h2 {margin:0 0 .5em;padding:0;font-weight:normal;}
    p {line-height:1.5em;}
    p.logo {margin:1em auto;text-align:center;}
    .postit {background: transparent url(/assets/common/post-it-wide-bottom.png) bottom center no-repeat; width:350px; border:1px solid #fff;padding-bottom:34px; margin:0 auto;}
    .postit p {background: transparent url(/assets/common/post-it-wide-top.png) 0 0 repeat-y; width:310px; padding:1.3em 20px 0;font-size:1em;display:block; color:#666;margin-bottom:0;}
    .postit p.last {padding-bottom:2em;}
    .postit p a {color:#444;font-weight:bold;text-decoration:none;}
    .postit p a:hover {color:#222;text-decoration:underline;}
    -->
    </style>

</head>

<body>
    <div id="content">

        <%= yield :layout %>

    </div>
</body>
</html>
